<div class="container-fluid mt-4 pb-3 text-center" style="background:#fff;">
  <div *ngIf='!flag'>
    <br>
    <br>
    <br>
    <br>
    <h4> Just a moment please....</h4>
    <br>
    <br>
    <br>
  </div>

  <div class="" style=" width:100%; overflow-x:auto;">
    <table *ngIf='flag' id="exampleFormResponse" class=" display table table-striped  " cellspacing="0" >
        <thead>
            <tr>
                <th></th>
                <th *ngFor="let head of header">
                  {{head}}
                </th>
                <th>Details</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let res of response; let i = index'>
                <td>{{i+1}}</td>
                <td *ngFor = 'let temp of res' >
                  {{temp.value}}
                </td>
                <td>
                  <button type="button" class="btn btn-primary " >  Details  </button>
                </td>
            </tr>
    </tbody>
    </table>
  </div>
</div>
