<div class="form-group row m-0 text-center">
  <label for="staticEmail" class="col-sm-3 col-form-label text-left pt-3">  &nbsp; {{funID(id)}}. {{name}} </label>
  <div class="col-5">
    <input type="file" accept="video/*" capture="camcorder" class="form-control rounded-0 h" />
  </div>
  <div class="col-4 text-center">
    <!-- <i *ngIf='id > 0' class="fa fa-arrow-up" aria-hidden="true" (click)='upElement(id)'></i> &nbsp;
    <i class="fa fa-arrow-down" aria-hidden="true" (click)='downElement(id)'></i> &nbsp; -->
    <i class="fa fa-trash-o text-danger p-4 fa-6" aria-hidden="true" (click)='deleteElement(id)' ></i>
  </div>
</div>
