<div class="container form-container text-left col-sm-12 mt-0">
  <div class="row justify-content-center mt-3">
    <div class="col-md-12">
      <div class="d-inline">
        <h5 class="{{name}}">{{name}} <i class="fa fa-pencil-square-o" aria-hidden="true"></i></h5>
        <p>{{project_name}}</p>
        <p>project_desc</p>
      </div>
      <div class="d-inline">
        <button type="button" class="btn btn-primary pt-2 pb-2 d-inline" data-toggle="modal" data-target="#exampleModal">Add element</button>
      </div>
      <div *ngIf='!displayPublish' class="form-build-design col-sm-12 p-5 bg-white mt-3" style="height:72vh;">
        <p class="text-center p-5 m-5">Form elements will be displayed here!</p>
      </div>
      <div class="form-build-design col-sm-12 ofy mt-3" style="max-height:72vh;padding-left:1.8%">
        <div class="" *ngFor='let json of jsonArray; let i = index'>
          <div class="col-sm-5 pl-3 mb-3 text-left" *ngIf="json.type == 'location'">
            <input type="checkbox" name="checkbox" checked disabled />
            &nbsp;Form submition location will be shared by default&nbsp;
            <i class="fa fa-trash-o text-danger fa-6 pt-2" style="position:static;" aria-hidden="true" (click)='deleteElement(i)'></i>
          </div>
          <div class="col-sm-12 bg-white pl-3 pr-0 pb-0 pt-0 brd-def mb-4 prim-hvr" *ngIf="json.type == 'text'" [class.active]="clicked === json" (click)="clicked = json">
            <app-input-text name={{json.name}} id={{i}} value={{json.value}} disabled={{disabledAll}}></app-input-text>
          </div>
          <div class="col-sm-12 bg-white pl-3 pr-0 pb-0 pt-0 brd-def mb-4 prim-hvr" *ngIf="json.type == 'password'" [class.active]="clicked === json" (click)="clicked = json">
            <app-input-password name={{json.name}} id={{i}} value={{json.value}} disabled={{disabledAll}}></app-input-password>
          </div>
          <div class="col-sm-12 bg-white pl-3 pr-0 pb-0 pt-0 brd-def mb-4 prim-hvr" *ngIf="json.type == 'email'" [class.active]="clicked === json" (click)="clicked = json">
            <app-input-email name={{json.name}} id={{i}} value={{json.value}} disabled={{disabledAll}}></app-input-email>
          </div>
          <div class="col-sm-12 bg-white pl-3 pr-0 pb-0 pt-0 brd-def mb-4 prim-hvr" *ngIf="json.type == 'number'" [class.active]="clicked === json" (click)="clicked = json">
            <app-input-number name={{json.name}} id={{i}} value={{json.value}} disabled={{disabledAll}} rangeFrom={{json.rangeFrom}} rangeTo={{json.rangeTo}}>  </app-input-number>
          </div>
          <div class="col-sm-12 bg-white pl-3 pr-0 pb-0 pt-0 brd-def mb-4 prim-hvr" *ngIf="json.type == 'phone'" [class.active]="clicked === json" (click)="clicked = json">
            <app-input-phone name={{json.name}} id={{i}} value={{json.value}} disabled={{disabledAll}}></app-input-phone>
          </div>
          <div class="col-sm-12 bg-white pl-3 pr-0 pb-0 pt-0 brd-def mb-4 prim-hvr" *ngIf="json.type == 'textarea'" [class.active]="clicked === json" (click)="clicked = json">
            <app-input-textarea name={{json.name}} id={{i}} value={{json.value}} disabled={{disabledAll}}>  </app-input-textarea>
          </div>
          <div class="col-sm-12 bg-white pl-3 pr-0 pb-0 pt-0 brd-def mb-4 prim-hvr" *ngIf="json.type == 'date'" [class.active]="clicked === json" (click)="clicked = json">
            <app-input-date name={{json.name}} id={{i}} value={{json.value}} disabled={{disabledAll}} rangeFrom={{json.rangeFrom}} rangeTo={{json.rangeTo}}></app-input-date>
          </div>
          <div class="col-sm-12 bg-white pl-3 pr-0 pb-0 pt-0 brd-def mb-4 prim-hvr" *ngIf="json.type == 'time'" [class.active]="clicked === json" (click)="clicked = json">
            <app-input-time name={{json.name}} id={{i}} value={{json.value}} disabled={{disabledAll}} rangeFrom={{json.rangeFrom}} rangeTo={{json.rangeTo}}></app-input-time>
          </div>
          <div class="col-sm-12 bg-white pl-3 pr-0 pb-0 pt-0 brd-def mb-4 prim-hvr" *ngIf="json.type == 'radio'" [class.active]="clicked === json" (click)="clicked = json">
            <app-input-radio name={{json.name}} id={{i}} value={{json.value}} disabled={{disabledAll}} [option]=json.option >  </app-input-radio>
          </div>
          <div class="col-sm-12 bg-white pl-3 pr-0 pb-0 pt-0 brd-def mb-4 prim-hvr" *ngIf="json.type == 'checkbox'" [class.active]="clicked === json" (click)="clicked = json">
            <app-input-checkbox name={{json.name}} id={{i}} value={{json.value}} disabled={{disabledAll}} [option]=json.option [values]=json.values>  </app-input-checkbox>
          </div>
          <div class="col-sm-12 bg-white pl-3 pr-0 pb-0 pt-0 brd-def mb-4 prim-hvr" *ngIf="json.type == 'dropdown'" [class.active]="clicked === json" (click)="clicked = json">
            <app-input-dropdown name={{json.name}} id={{i}} value={{json.value}} disabled={{disabledAll}} [option]=json.option ></app-input-dropdown>
          </div>
          <div class="col-sm-12 bg-white pl-3 pr-0 pb-0 pt-0 brd-def mb-4 prim-hvr" *ngIf="json.type == 'slider'" [class.active]="clicked === json" (click)="clicked = json">
            <app-input-slider name={{json.name}} id={{i}} value={{json.value}} disabled={{disabledAll}} rangeFrom={{json.rangeFrom}} rangeTo={{json.rangeTo}} >  </app-input-slider>
          </div>
          <div class="col-sm-12 bg-white pl-3 pr-0 pb-0 pt-0 brd-def mb-4 prim-hvr" *ngIf="json.type == 'file'" [class.active]="clicked === json" (click)="clicked = json">
            <app-input-file name={{json.name}} id={{i}} value={{json.value}} disabled={{disabledAll}} [fileTypes]=json.fileTypes >  </app-input-file>
          </div>
          <div class="col-sm-12 bg-white pl-3 pr-0 pb-0 pt-0 brd-def mb-4 prim-hvr" *ngIf="json.type == 'camera'" [class.active]="clicked === json" (click)="clicked = json">
            <app-input-camera name={{json.name}} id={{i}} value={{json.value}} disabled={{disabledAll}} [fileTypes]=json.fileTypes >  </app-input-camera>
          </div>
          <div class="col-sm-12 bg-white pl-3 pr-0 pb-0 pt-0 brd-def mb-4 prim-hvr" *ngIf="json.type == 'video'" [class.active]="clicked === json" (click)="clicked = json">
            <app-input-video name={{json.name}} id={{i}} value={{json.value}} disabled={{disabledAll}} [fileTypes]=json.fileTypes >  </app-input-video>
          </div>
          <div *ngIf="json.type == 'break'" ><!-- class="bg-white p-3 brd-def mb-4 prim-hvr" -->
            <app-input-break name={{json.name}} id={{i}}>  </app-input-break>
          </div>
        </div>
      </div><!--form-build Design-->
    </div>
  </div>
</div>
<!--<div class="col-sm-12 pos-abso-bl" style="position:sticky">-->
<div class="d-inline-block p-2 mt-2" *ngIf='displayPublish' >
  <button *ngIf='displayPublishForm' type="button" class="btn btn-success pb-3 pt-3" (click)='publishForm()'>{{sumbitForm}}</button>
</div>
<div class="d-inline-block p-2 mt-2" *ngIf='displayPublish' >
  <button *ngIf='displayPublishTemp' type="button" class="btn btn-success pb-3 pt-3" (click)='publishTemplate()'>{{sumbitTemp}}</button>
</div>
  <!--</div>-->
<!-- form element modal starts here -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog md" role="document">
    <div class="modal-content adf">
      <app-form-modal></app-form-modal>
    </div>
  </div>
</div>
<!-- form element modal ends here -->
<!-- New form modal starts here -->
<div class="modal fade col-sm-8" id="newFormModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="margin:0 auto;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">+ New Form</h5>
      </div>
      <div class="modal-body" style="height:200px;">
        <label class="row ml-0 mr-0 mb-3">
          <span class="col-4 text-left pt-2 pl-0">Form Name :</span>
          <input type="text" name="Form Name" id="" [(ngModel)]=newFormName class="col-7 form-control pt-2 pb-2" />
        </label>
        <label class="row ml-0 mr-0 mb-3">
          <span class="col-4 text-left pt-2 pl-0">Project :</span>
          <select [(ngModel)]="projectAssociate" class="col-7 form-control pt-2 pb-2">
            <option *ngFor='let opt of projectArray; let i=i' [ngValue]=opt>{{opt.name}}</option>
          </select>
        </label>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary col-sm-5 pt-3 pb-3" (click)='conformForm()' data-dismiss="modal">Publish new Form</button>
        <button type="button" class="btn btn-secondary col-sm-3 pt-3 pb-3" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade col-sm-8" id="newTempModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="margin:0 auto;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">+ New Template</h5>
      </div>
      <div class="modal-body" style="height:200px;">
        <form class="col-sm-12">
          <fieldset class="form-group row">
            <label class="row ml-0 mr-0 mb-3">
              <span class="col-4 text-left pt-2 pl-0">Template Name :</span>
              <input type="text" id="tn" name="Template name" value="" [(ngModel)]=newTempName class="col-7 form-control pt-2 pb-2" required />
            </label>
          </fieldset>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary col-sm-3 pt-3 pb-3" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary col-sm-5 pt-3 pb-3" (click)='conformTemp()'  data-dismiss="modal" >Save new Template</button>
      </div>
    </div>
  </div>
</div>
<!-- New template modal ends here -->