<nav class="navbar navbar-toggleable-md navbar-inverse bg-primary sticky-top col-sm-12">
  <a class="navbar-brand" href="#" style="margin:auto; "><h3 style="margin-top:0px; margin-bottom:0px" ><b>QCI Collect </b></h3></a>
</nav>
<div class="row justify-content-center m-0 frame">

  <div class="col-lg-2 slider-fix p-0 ">
  <i class="fa fa-bars text-white text-center" aria-hidden="true"></i>
  <i class="fa fa-times text-white text-center active" aria-hidden="true"></i>
    <!-- Nav tabs -->
    <ul class="nav flex-column text-left " role="tablist">

      <li class="nav-item">
        <a class="nav-link" [routerLink]="['./']">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " [routerLink]="['./form']" >Forms</a>
      </li>
      <li class="nav-item">
        <a class="nav-link "  [routerLink]="['./response']" >Response</a>
      </li>
      <li class="nav-item">
        <a class="nav-link "  [routerLink]="['./org']" >Organisation</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="border-bottom:none;"></a>
      </li>

    </ul>
  </div>

  <div class="col-lg-10 col-sm-12 wrap-cont">
      <router-outlet></router-outlet>
  </div>

</div>
