<nav class="row navbar navbar-toggleable-md navbar-inverse bg-primary sticky-top col-sm-12 p-0 m-0" style="position:fixed;">
  <div class="text-left pl-0 cl2">
    <i class="fa fa-bars text-white text-center" aria-hidden="true"></i>
    <i class="fa fa-times text-white text-center active" aria-hidden="true"></i>
  </div>
  <div class="text-center cl8 pt-2 pb-3">
    <a class="navbar-brand p-0 d-block" href="#">
      <h3 style="margin-top:0px; margin-bottom:0px" >QCI Collect</h3>
    </a>
  </div>
  <div class="text-right cl2">
    <i class="fa fa-ellipsis-v text-white text-center" aria-hidden="true" data-toggle="modal" data-target="#userprofile"></i>
  </div>
</nav>
<div class="row justify-content-center m-0 frame">
  <div class="black-shadow"></div><!-- active-->
  <div class="col-lg-2 slider-fix p-0">
    <ul class="nav flex-column text-left pt-3" role="tablist">
      <li class="nav-item">
        <a class="nav-link " [routerLink]="['/']">
          <i class="fa fa-home fa-6" aria-hidden="true"></i>
          <span>Home</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link " [routerLink]="['/form']" >
          <i class="fa fa-file-text fa-6" aria-hidden="true"></i>
          <span>Forms</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link " [routerLink]="['/response']" >
          <i class="fa fa-pencil-square-o fa-6" aria-hidden="true"></i>
          <span>Response</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link " [routerLink]="['/org']" >
          <i class="fa fa-users fa-6" aria-hidden="true"></i>
          <span>Organisation</span>
        </a></li>
      <!--<li class="nav-item"><a class="nav-link " style="border-bottom:none;"></a></li>-->
      <li class="nav-item p-1 pos-bl text-center">@2018, Quality Quancil of India | All Rights Reserved</li>
    </ul>
  </div>
  <div class="col-lg-10 col-sm-12 wrap-cont">
    <div class="pos-rel">
    <router-outlet></router-outlet>
      <div class="modal fade" id="userprofile" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document" style="max-width:500px;">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">User Profile</h5>
            </div>
            <div class="modal-body text-center">
                <form class="col-sm-12">
                    <label class="row ml-0 mr-0 mb-3">
                      <span class="col-4 text-left pt-2 pl-0">Old Password:</span>
                      <input type="password" name="" value="" class="col-7 form-control pt-2 pb-2" />
                    </label>
                    <label class="row ml-0 mr-0 mb-3">
                      <span class="col-4 text-left pt-2 pl-0">New Password:</span>
                      <input type="password" name="" value="" class="col-7 form-control pt-2 pb-2" />
                    </label>
                    <label class="row ml-0 mr-0 mb-3">
                      <span class="col-4 text-left pt-2 pl-0">Match Password:</span>
                      <input type="password" name="" value="" class="col-7 form-control pt-2 pb-2" />
                    </label>
                  <!--
                    <fieldset class="form-group row m-0 col-sm-12">
                    <label class="col-form-label col-sm-3" for="op">Old Password :</label>
                    <input class="form-control col-sm-6 pl-0" id="op" type="password" name="" value="" required />
                    <div class="after"></div>
                  </fieldset>
                  <fieldset class="form-group row m-0">
                    <label class="col-form-label col-sm-3" for="np">New Password :</label>
                    <input class="form-control col-sm-6 pl-0" id="np" type="password" name="" value="" required />
                    <div class="after"></div>
                  </fieldset>
                  <fieldset class="form-group row m-0">
                    <label class="col-form-label col-sm-3" for="mnp">Match New Password :</label>
                    <input class="form-control col-sm-6 pl-0" id="mnp" type="password" name="" value="" required />
                    <div class="after"></div>
                  </fieldset>
                -->
                </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary col-sm-4 pt-3 pb-3">Save Changes</button>
              <button type="button" class="btn btn-secondary col-sm-3 pt-3 pb-3" data-dismiss="modal">Close</button>
              <i class="fa fa-sign-out fa-6 ml-5 text-right text-danger" style="margin-top:-10px;" aria-hidden="true" (click)="logout()" ></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
