<div id="opened" class="mt-5 pb-5">
  <span data-letter="C">C</span>
  <span data-letter="O">O</span>
  <span data-letter="L">L</span>
  <span data-letter="L">L</span>
  <span data-letter="E">E</span>
  <span data-letter="C">C</span>
  <span data-letter="T">T</span>
  <span data-letter=" ">&nbsp;</span>
  <span data-letter="A">A</span>
  <span data-letter="D">D</span>
  <span data-letter="M">M</span>
  <span data-letter="I">I</span>
  <span data-letter="N">N</span>
</div>
<div class="wrapper bg-white m-0 pt-5" style="height:86vh;box-shadow:0px -20px 20px -20px #ddd">
  <form class="form-signin bg-trans border-0 pt-5">
    <div class="row justify-content-md-center" ></div>
    <br /><br />
    <div class="col-sm-12 row ml-0 mr-0 mb-3 text-left p-0">
      <input class="form-control rounded-0 h pb-3 pt-3" type="text" name="username" placeholder="Email Address" required="" autofocus=""  [(ngModel)]='email' />
    </div>
    <div class="col-sm-12 row ml-0 mr-0 mb-3 text-left p-0">
      <input class="form-control rounded-0 h pb-3 pt-3" type="password" name="password" placeholder="Password" required="" [(ngModel)]='password' />
    </div>
    <label class="custom-control custom-control-lg custom-checkbox mb-2 mt-3">
      <input type="checkbox" class="custom-control-input form-check-input" value="remember-me" id="rememberMe" name="rememberMe" />
      <span class="custom-control-indicator"></span><span class="col-sm-12 pl-2 pr-2">Remember Me</span>
    </label>
    <div class="col-sm-12 row ml-0 mr-0 mb-3 text-left p-0">
      <button class="btn btn-lg btn-primary btn-block rounded-0 col-sm-7 pb-2 pt-2" type="submit" (click)='login()'>Login</button>
    </div>
  </form>
</div>