<div class="form-group row  text-center">
  <label for="staticEmail" class="col-sm-2 col-form-label text-left">  &nbsp; {{funID(id)}}. {{name}} </label>
  <div class="col-6 text-left">
    <div *ngFor='let opt of option; let i=i' >

      <input #flag type="checkbox" value={{opt}} name="checkbox" [checked]='checkVal(opt)'> {{opt}}

    </div>

  </div>
  <div class="col-2" ></div>
  <div class="col-2 text-left" >
    <i *ngIf='id > 0' class="fa fa-arrow-up" aria-hidden="true" (click)='upElement(id)'></i> &nbsp;
    <i class="fa fa-arrow-down" aria-hidden="true" (click)='downElement(id)'></i> &nbsp;
    <i class="fa fa-trash-o" aria-hidden="true" (click)='deleteElement(id)' ></i>
  </div>
</div>
