<div class="form-group row m-0">
  <div class="col-sm-12 row m-0 p-0">
    <label class="col-sm-7 col-form-label text-left p-0"><span class="nmbr">{{funID(id)}}</span>&nbsp;{{name}}</label>
    <div class="col-sm-5 text-right pr-0">
      <!--<i class="fa fa-arrow-up text-primary p-3" aria-hidden="true" (click)='upElement(id)'></i>
      <i class="fa fa-arrow-down text-primary p-3" aria-hidden="true" (click)='downElement(id)'></i>-->
      <p class="d-block float-right text-center mb-0 p-2"><i class="fa fa-trash-o text-danger fa-6" aria-hidden="true" (click)='deleteElement(id)'></i></p>
      <p class="d-block float-right text-center mb-0 p-2"><i class="fa fa-check-square-o pr-2" aria-hidden="true"></i>&nbsp;Checkbox&nbsp;&nbsp;</p> 
    </div>
  </div>
  <div class="col-sm-12 row ml-0 mr-0 mb-3 text-left">
    <div class="col-4 pl-0 pr-0 pt-2" *ngFor='let opt of option; let i=i' >
      <label class="custom-control custom-control-lg custom-checkbox m-0">
        <input #flag type="checkbox" value={{opt}} class="custom-control-input form-check-input mt-3" name="checkbox" [checked]='checkVal(opt)' />
        <span class="custom-control-indicator"></span>&nbsp;&nbsp;{{opt}}
      </label>
    </div>
  </div>
</div>