<div class="container" style="background-color: white !important;">
  <br>

    <button type="button" class="btn btn-primary " (click)='new()'  data-dismiss="modal" >+ New</button>

  <ul class="nav nav-tabs justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" role="tab" href="#form">Forms</a>
    </li>
    <li class="nav-item">
      <a class="nav-link " data-toggle="tab" role="tab" href="#template">Templates</a>
    </li>

  </ul>

  <div class="tab-content">
      <div class="tab-pane active" id="form" role="tabpanel" >
        <br>

        <div class="row justify-content-center" >

          <div *ngFor='let form of formArray; let i = index' class="col-6" style="margin-bottom:15px">
            <div class="card">
              <div class="card-block">
                <h4 class="card-title">{{form.Details.name}}</h4>
                <h6 class="card-subtitle mb-2 text-muted">{{form.Details.project}}</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <!-- <a href="#" class="card-link">Rule: {{form.Details.rule}}</a> -->
                <a href="#" class="card-link">{{form.Details.status}}</a>
                <a href="#" class="card-link" [routerLink]="['/formBuilder']" [queryParams]="{formID : form.Details.cid }" >View form</a>
                <div  >
                  <button   (click)='rule(form.Rules, form.Details.cid, form.Elements)' type="button" class="btn btn-primary" data-toggle="modal" data-target="#rules">
                    Rule/s
                  </button>
                </div>

              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="tab-pane " id="template" role="tabpanel" >
        <br>
        <div class="row justify-content-center" >
          <div *ngFor='let temp of templateArray; let i = index' class="col-6"  style="margin-bottom:15px">
            <div class="card">
              <div class="card-block">
                <h4 class="card-title">{{temp.Details.name}}</h4>
                <h6 class="card-subtitle mb-2 text-muted">{{temp.Details.project}}</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a class="card-link" [routerLink]="['/formBuilder']" [queryParams]="{templateID : temp.Details.cid }" >View template</a>
              </div>
            </div>
          </div>
        </div>
      </div>

  </div>

</div>

<!-- rule modal starts here-->
<div class="modal fade" id="rules" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Rules</h5>
      </div>
      <div class="modal-body text-center" style="height:300px; overflow-y: auto">
          <div class="row justify-content-center" >
            <div *ngIf='rulesArray.length < 1' >
              <h4> No Rule was created </h4>
            </div>
            <div *ngFor='let rule of rulesArray; let i = index ' class="col-10 text-center" style="border: 2px solid gray; border-radius: 10px; height: 230px; margin: 1px;  " >
                <h5>{{i+1}}. Rule Name: {{rule.name}} </h5>
                <p>Element: {{rule.elementName}} </p>
                <p>Condition: {{rule.elementValue}} </p>
                <hr>
                Associated Template: <b>{{rule.tempName}}</b>
                <hr>
                <a class="card-link" href="#" >Edit</a>
                <a class="card-link" href="#"  >Delete</a>
              </div>
          </div>

        <!-- <a href="#"  class="text-center">Add Rule</a> -->

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addRules" >Add rule</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- rule modal ends here-->


<!--Add rule modal starts here-->
<div class="modal fade" id="addRules" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Rules</h5>
      </div>
      <div class="modal-body text-center" style="height:300px; overflow-y: auto">

        <input type="text" name="" value="" [(ngModel)]='ruleName' placeholder="Rule Name" > <br> <br>

        1. Select element :
           <select [(ngModel)]="ruleElement" (change)='getVal()'>
             <option *ngFor='let opt of rnameArray; let i=i' [ngValue]=opt  >{{opt.name}}</option>
           </select>
        <hr>
        2. Condition : Equlas
          <!-- <select [(ngModel)]="ruleCondition" >
            <option *ngFor='let opt of rcondition; let i=i' [ngValue]=opt  >{{opt}}</option>
          </select> -->
        <hr>
        3. Value :
        <input type="text" name="" value="" [(ngModel)]='ruleTarget'>
         * if mulitple values, separeate with comas
        <br>
        <i *ngIf='hint' > hint: {{hint}}</i>
        <hr>
        4. Associate template:
        <select [(ngModel)]="ruleTempTail" >
          <option *ngFor='let opt of templateArray; let i=i' [ngValue]=opt  >{{opt.Details.name}}</option>
        </select>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)='conformRule()'  data-dismiss="modal" >Create rule</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!--Add rule modal ends here-->
