<style >
  .responseImg{
    max-height: 60px;
    border-radius: 2px;
  }

  table.dataTable thead .sorting,
  table.dataTable thead .sorting_asc,
  table.dataTable thead .sorting_desc {
      background : none;
  }
</style>

<div class="container-fluid mt-4 pb-3 text-center" style="background:#fff;">
    <h2>Response Table</h2>
    <div *ngIf='!flag'>
      <br>
      <br>
      <br>
      <br>
      <h4>Seems like there is not data to display! Hang on while we check....</h4>
      <br>
      <br>
      <br>
    </div>

    <table *ngIf='flag' id="example" class="table table-striped " cellspacing="0" width="100%">
        <thead>
            <tr>
                <th></th>
                <th>From</th>
                <th>Project</th>
                <th>Responces</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let res of response; let i = index'>
                <td>{{i+1}}</td>
                <td>
                  <span class="tt1" > {{res.fname | shorten: 35: '...'}}
                    <span class="tt2" > &nbsp; {{res.fname}} &nbsp; </span>
                  </span>
                </td>
                <td>
                  <span class="tt1" > {{res.pname | shorten: 35: '...'}}
                    <span class="tt2" > &nbsp; {{res.pname}} &nbsp; </span>
                  </span>
                </td>
                <td>
                  <button type="button" class="btn btn-primary" (click)='getData(res.fid)' [disabled]="resMoreThanZero(res.responses)" > {{res.responses}} Responses  </button>
                </td>
                <td>
                  <button type="button" class="btn btn-primary" >  Details  </button>
                </td>
            </tr>
      </tbody>
    </table>

    <!-- <button type="button" class="btn btn-primary col-sm-3 col-md-2 pt-3 pb-3 mt-4" (click)='reload()'>Reload</button> -->
</div>
