<div class="form-group row  text-center">
  <label for="staticEmail" class="col-sm-2 col-form-label text-left">  &nbsp; {{funID(id)}}. {{name}} </label>
  <div class="col-8 text-left">
    <form oninput="x.value=parseInt(a.value)" >
      {{rangeFrom}}<input class=" form-control-sm"  type="range"  min={{rangeFrom}} max={{rangeTo}} id="a" (change)='getVal()'  >{{rangeTo}}

     &nbsp; &nbsp; value =  <output #val name="x" for="a " > {{value}} </output>

    </form>

  </div>
  <div class="col-2 text-left" >
    <i *ngIf='id > 0' class="fa fa-arrow-up" aria-hidden="true" (click)='upElement(id)'></i> &nbsp;
    <i class="fa fa-arrow-down" aria-hidden="true" (click)='downElement(id)'></i> &nbsp;
    <i class="fa fa-trash-o" aria-hidden="true" (click)='deleteElement(id)' ></i>
  </div>
</div>
