<div class="form-group row m-0 text-center">
  <label for="staticEmail" class="col-sm-3 col-form-label text-left pt-3"><span>{{funID(id)}}.</span>&nbsp;{{name}} </label>
  <div class="col-5 text-left">
    <div *ngFor='let opt of option; let i=i' >
      <input type="radio" value={{opt}} name="radiogroup{{funID(id)}}" class="mt-3" [checked]='opt == value' />  {{opt}}
    </div>
  </div>
  <div class="col-4 text-center">
    <i class="fa fa-arrow-up text-primary p-3" aria-hidden="true" (click)='upElement(id)'></i>
    <i class="fa fa-arrow-down text-primary p-3" aria-hidden="true" (click)='downElement(id)'></i>
    <i class="fa fa-trash-o text-danger p-4 fa-6" aria-hidden="true" (click)='deleteElement(id)'></i> 
  </div>
</div>