<div class="form-group row m-0">
  <div class="col-sm-12 row m-0 p-0">
    <label class="col-sm-10 col-form-label text-left p-0" style="font-weight:bold;"><span>{{funID(id)}}.</span>&nbsp;{{name}} </label>
    <div class="col-2 text-right pr-0">
      <!--<i class="fa fa-arrow-up text-primary p-3" aria-hidden="true" (click)='upElement(id)'></i>
      <i class="fa fa-arrow-down text-primary p-3" aria-hidden="true" (click)='downElement(id)'></i>-->
      <i class="fa fa-trash-o text-danger fa-6 pt-2" aria-hidden="true" (click)='deleteElement(id)'></i> 
    </div>
  </div>
  <div class="col-sm-12 row ml-0 mr-0 mt-3 text-left">
    <div class="col-4 pl-0 pr-0 pt-2" *ngFor='let opt of option; let i=i' >
      <label class="custom-control custom-control-lg custom-radio pl-0">
        <input type="radio" class="custom-control-input mt-3" value={{opt}} name="radiogroup{{funID(id)}}" [checked]='opt == value' />
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">{{opt}}</span>
      </label>
    </div>
  </div>
</div>