<div class="col-sm-12 row m-0">
  <div class="col-sm-6 pl-0 pr-0 pt-5">
    <ol class="breadcrumb mb-0 bg-trans p-0">
      <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
      <li class="breadcrumb-item active">Organisation</li>
    </ol>
  </div>
  <div class="col-sm-6 pl-0 pr-0 pt-1">&nbsp;</div>
</div>
<div class="container-fluid text-center" style="min-height:85vh"><!--background:#fff;box-shadow:0 1px 1px #a9a8a9;-->
  <ul class="nav nav-tabs justify-content-center">
    <li class="nav-item">
      <a class="nav-link " data-toggle="tab" role="tab" href="#user">Users</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" role="tab" href="#ass">Assessor</a>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane " id="user" role="tabpanel" >
      <app-user></app-user>
    </div>
    <div class="tab-pane active" id="ass" role="tabpanel" >
      <app-assessor></app-assessor>
    </div>
  </div>
</div>
