<div class="row text-center ml-0 mr-0 mt-0 mb-0">
  <div class="col-12 text-left pt-0 pb-0 pl-0">
    <h5 class="m-0">{{name}}</h5>
    <i class="fa fa-trash-o text-danger p-4 fa-6" aria-hidden="true" (click)='deleteElement(id)' style="position:initial;"></i>
  </div>
  <div class="col-2 text-left" >
    <!-- <i *ngIf='id > 0' class="fa fa-arrow-up" aria-hidden="true" (click)='upElement(id)'></i> &nbsp;
    <i class="fa fa-arrow-down" aria-hidden="true" (click)='downElement(id)'></i> &nbsp; -->
  </div>
</div>