<div class="col-sm-12 text-right pt-3 pr-0 pl-0"><!--pos-abso-tr -->
  <button type="button" class="btn btn-primary col-sm-3 col-md-2 pt-3 pb-3 float-right" (click)='assessor()'>+ Assessor</button>
  <input type="text" class="form-control col-sm-10 col-md-10 col-lg-10 float-right pt-3 pb-3" placeholder="Search Assessors..." />
</div>
<div class="tab-pane active" role="tabpanel">
  <div class="container-fluid mt-0 pb-3 text-left p-0">
    <table *ngIf='flag' id="example01" class="table table-striped bg-white mt-0 brd-def" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th class="header-1"></th>
          <th>Assessor</th>
          <th>Phone</th>
          <th>Form</th>
          <th>Details</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let res of users; let i = index'>
          <td class="text-center">{{i+1}}</td>
          <td><i class="fa fa-user fa-6 text-center" aria-hidden="true"></i>{{res.name}}</td>
          <td><i class="fa fa-phone fa-6 text-center" aria-hidden="true"></i>{{res.phone}}</td>
          <td>
            <button type="button" class="btn btn-primary bg-white tt1" (click)='showProjectModal(res.name, res.cid, res.form)' >
              {{calForms(res.form)}} Forms
              <span class="tt2" > &nbsp; {{projectForm(res.form)}}  &nbsp; </span>
            </button>
          </td>
          <td>
            <button type="button" class="btn btn-primary bg-white"><i class="fa fa-eye p-1 text-center" aria-hidden="true"></i>&nbsp;{{res.details}}</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- Add assessor model -->
  <div class="modal fade" id="newAssessorModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add new assesor</h5>
        </div>
        <div class="modal-body text-center" style="height:300px;overflow-y:auto">
          <div class="row justify-content-center" >
            <label class="row ml-0 mr-0 mb-3 col-sm-12">
              <span class="col-4 text-left pt-2 pl-0">Assessor Name :</span>
              <input type="text" name="" value="" [(ngModel)]='assessorName' placeholder="Name" class="col-7 form-control pt-2 pb-2" />
            </label>
            <label class="row ml-0 mr-0 mb-3 col-sm-12">
              <span class="col-4 text-left pt-2 pl-0">Assessor Phone :</span>
              <input type="text" name="" value="" [(ngModel)]='assessorPhone' placeholder="Phone no." class="col-7 form-control pt-2 pb-2" />
            </label>
            <label class="row ml-0 mr-0 mb-3 col-sm-12">
              <span class="col-4 text-left pt-2 pl-0">Add Assessor Project :</span>
              <select [(ngModel)]="formAssociate" class="col-7 form-control mb-5" >
                <option *ngFor='let opt of formArray; let i=i' [ngValue]=opt.Details  >{{opt.Details.name + " " + opt.Details.project}}</option>
              </select>
            </label>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary col-sm-3 pt-3 pb-3" data-toggle="modal" data-target="#addRules" (click)='saveAssessor()'>+ Add user</button>
          <button type="button" class="btn btn-secondary col-sm-3 pt-3 pb-3" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Add assesor model -->

  <!-- assesor form model -->
  <div class="modal fade" id="assessorFormModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Associated form for {{userProjectName}}</h5>
        </div>
        <div class="modal-body text-center" style="height:300px;overflow-y:auto">
          <div class="row col-sm-12 m-0 text-left">
            <div class="col-sm-6 ofy br" style="height:26vh;">
              <h5 class="mb-3">Assigned :</h5>
              <div class="col-12 p-0" *ngFor="let pro of assessorFormArray; let i = index">
                <p>
                  <span class="d-inline-block pt-1 col-sm-10">{{i+1}}. {{pro.name+" "+pro.project}}</span>
                  <i class="fa fa-trash-o fa-6 text-center text-danger float-right" aria-hidden="true" (click)='deleteFormAssessorArray(pro.cid, pro.projectcdi)' ></i>
                </p>
              </div>
            </div>
            <div class="col-sm-6">
              <h5 class="mb-3">Assign new project :</h5>
              <select [(ngModel)]="projectAs" class="col-8 form-control mb-5 text-left" >
                <option *ngFor='let opt of formArray; let i=i' [ngValue]=opt  >{{opt.Details.name + " " + opt.Details.project}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary col-sm-3 pt-3 pb-3" data-toggle="modal"  (click)='assignNewProject()'>Assign</button>
          <button type="button" class="btn btn-secondary col-sm-3 pt-3 pb-3" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!-- assesor form model -->
</div>