<div class="form-group row  text-center">
  <label for="staticEmail" class="col-sm-3 col-form-label text-left pt-3">  &nbsp; {{funID(id)}}. {{name}} </label>
  <div class="col-5 text-left">
    <input type="file"  [accept]=fileTypes />
  </div>
  <div class="col-4 text-left">
    <i class="fa fa-arrow-up text-primary p-3" aria-hidden="true" (click)='upElement(id)'></i>
    <i class="fa fa-arrow-down text-primary p-3" aria-hidden="true" (click)='downElement(id)'></i>
    <i class="fa fa-trash-o text-danger p-3" aria-hidden="true" (click)='deleteElement(id)'></i> 
  </div>
</div>