<div class="container-fluid p-0">
  <div class="row ml-0 mr-0 mb-3">
    <div class="col-md-6 col-sm-12 p-0 mt-3" style="background:#fff;box-shadow:0px 2px 2px #bbb;">
      <div class="col-md-12 p-0" style="height:200px;">
        <div class="col-sm-12 p-2">
          Graph Area
        </div>
      </div>
      <div class="col-md-12 p-0" style="height:200px;">
        <div class="col-sm-12 p-2">
            Project Summary Block
        </div>
        <div class="text-right p-3">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#projectModal">+ Project</button>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-12 mt-3" style="background:#fff;height:400px;box-shadow:1px 2px 1px #BBB;">Graph 2</div>
  </div>
  <div class="row justify-content-center" >
    <div *ngFor='let project of projects' class="col-md-4 col-sm-12">
      <div class="col-sm-12 p-0 mb-3 crdHvr">
        <div class="collapse" id="cllapseExample">
            <i class="fa fa-close float-right p-3 collapsed" aria-hidden="true" data-toggle="collapse" data-target="#collapseExample" aria-expanded="true" aria-controls="collapseExample"></i>
            <h4 class="text-left col-sm-11 p-3 bb ">{{project.name}}<br /><small>Desc: {{project.desc}}<a href="" class="nav-link d-inline-block">See More...</a></small></h4>
            <div class="row m-0">
              <p class="col-4 text-center mb-0">{{project.form}} : Forms</p>
              <p class="col-4 text-center mb-0">Users: {{project.user}}</p>
              <p class="col-4 text-center mb-0">Assessor: {{project.assessor}}</p>
            </div>
        </div>
        <i class="fa fa-ellipsis-v float-right pl-3 pr-4 pt-3 pb-3" aria-hidden="true" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample"></i>
                <h4 class="text-left col-sm-11 p-3 bb ">{{project.name}}<br /><small>Desc: {{project.desc}}<a href="" class="nav-link d-inline-block">See More...</a></small></h4>
        <div class="row m-0">
          <p class="col-4 text-center mb-0">{{project.form}} : Forms</p>
          <p class="col-4 text-center mb-0">Users: {{project.user}}</p>
          <p class="col-4 text-center mb-0">Assessor: {{project.assessor}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="projectModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New Project</h5>
      </div>
      <div class="modal-body text-center" style="height:150px; overflow-y: auto">Project name: <input type="text" name="" value="" [(ngModel)]='pname' >
      <hr>Project desc: <input type="text" name="" value="" [(ngModel)]='pdesc' >
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-target="#addRules" (click)='newProject()'>Initialize project</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
