<div class="col-sm-12 row m-0">
  <div class="col-sm-6 pl-0 pr-0 pt-5">
    <ol class="breadcrumb mb-0 bg-trans p-0">
      <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
      <li class="breadcrumb-item active">Home</li>
    </ol>
  </div>
  <div class="col-sm-6 pl-0 pr-0 pt-1">&nbsp;</div>
</div>
<div class="container-fluid p-0">
    <div class="row ml-0 mr-0 mb-5">
      <div class="col-md-6 col-sm-12 p-0 mt-0">
        <div class="col-md-12 p-3"><!--background:#3399ff-->
          <div class="col-sm-12 p-2 homeDivStyle bg-white" style="height:240px;">
            <!--Graph starts-->Graph Area<!--Graph Starts Ends-->
          </div>
        </div>
        <div class="col-md-12 p-3">
          <div class="col-sm-12 p-2 homeDivStyle bg-white">
            <!--Project Summary Blocks-->Project Summary Block<br /><br /><br /><br /><br /><br /><br /><br /><!--Project Summary Blocks Ends-->
            <div class="text-center p-3">
              <button type="button" class="btn btn-primary col-lg-3 col-md-4 pt-3 pb-3" data-toggle="modal" data-target="#projectModal">+ Project</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12 mt-0 p-0"><!-- style="background:#fff;box-shadow:1px 2px 1px #BBB;"-->
        <div class="col-md-12 p-3">
          <div class="col-sm-12 p-2 homeDivStyle" style="height:525px;">Graph 2</div>
        </div>
      </div>
    </div>
    <div class="clearfix p-3"></div>
    <!--clearfix class is used to remove the floats-->
    <div class="row justify-content-center bg2 mt-4 mb-5"><!--Whenever it is necessary to use bg2 class, use mt-5 and mb-5 class too-->
      <h1 class="col-sm-12 text-center">Project Information</h1>
      <div *ngFor='let project of projects' class="col-lg-4 col-md-6 col-sm-12 pt-3">
        <div class="col-sm-12 pl-0 pr-0 mb-3 crdHvr">
          <!--<div class="collapse" id="collapseExample">
              <i class="fa fa-close float-right p-3 collapsed" aria-hidden="true" data-toggle="collapse" data-target="#collapseExample" aria-expanded="true" aria-controls="collapseExample"></i>
              <h4 class="text-left col-11 pt-5 pl-4 pb-0 pr-3 mb-0">Project Description</h4>
              <p class="pt-0 pl-4 pr-4 text-justify mb-5">{{project.desc}}</p>
          </div>-->
          <!--<i class="fa fa-ellipsis-v float-right pl-3 pr-4 pt-3 pb-3" aria-hidden="true"></i>--><!-- data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample"-->
          <div class="row m-0 pt-2 pb-2 cbx">
            <p class="col-4 text-center mb-0 p-0">
              <i class="fa fa-file p-2 fa-6 rounded-circle cbx mb-2" aria-hidden="true"></i><br />
              Forms: <span>{{project.form}}</span>
            </p>
            <p class="col-4 text-center mb-0 p-0">
              <i class="fa fa-user-circle fa-6 p-2 rounded-circle cbx mb-2" aria-hidden="true"></i><br />
              Users: <span>{{project.user}}</span>
            </p>
            <p class="col-4 text-center mb-0 p-0">
              <i class="fa fa-universal-access fa-6 p-2 rounded-circle cbx mb-2" aria-hidden="true"></i><br />
              Assessor: <span>{{project.assessor}}</span>
            </p>
          </div>
          <h3 class="text-left col-12 pl-4 pr-4 pt-5 pb-5 mb-0">
              <span class="pb-1">{{project.name}}</span>
              <small class="pt-2"><u>Short Description:</u> {{project.desc}}</small>
            </h3>
        </div>
      </div>
      <div class="clearfix col-sm-12"></div><!--So that navigation will remain below the projects div box-->
      <!--pagination html-->
      <!--<nav aria-label="Page navigation example" class="d-inline float-right pt-4">
        <ul class="pagination">
          <li class="page-item bg-sc"><a class="page-link" href="#">Previous</a></li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item bg-sc"><a class="page-link" href="#">Next</a></li>
        </ul>
      </nav>-->
      <div class="clearfix col-sm-12"></div>
      <!--pagination html Ends-->
    </div>
  </div>
  <div class="modal fade" id="projectModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">+ New Project</h5>
        </div>
        <div class="modal-body text-center">
            <form class="col-sm-12">
              <fieldset class="form-group row">
                  <input class="form-control pl-0" id="pn" type="text" name="Project name" value="" [(ngModel)]='pname' required />
                  <label class="col-form-label" for="pn">Project Name:</label>
                  <div class="after"></div>
              </fieldset>
              <fieldset class="form-group row">
                  <input class="form-control pl-0" id="pd" type="text" name="Project Desc" value="" [(ngModel)]='pdesc' required />
                  <label class="col-form-label" for="pd">Project Desc:</label>
                  <div class="after"></div>
              </fieldset>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary col-sm-4 pt-3 pb-3" data-target="#addRules" (click)='newProject()'>Initialize project</button>
          <button type="button" class="btn btn-secondary col-sm-3 pt-3 pb-3" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>