/* You can add global styles to this file, and also import other style files */
//@import "~bootstrap/scss/_functions.scss";
@import "~bootstrap/scss/_variables.scss";

/*transitions mixins*/
@mixin transition($transition...) { -moz-transition:$transition; -o-transition:$transition; -webkit-transition:$transition; transition:$transition; }
@mixin transition-property($property...) { -moz-transition-property:$property; -o-transition-property:$property; -webkit-transition-property:$property; transition-property:$property; }
@mixin transition-duration($duration...) { -moz-transition-property:$duration; -o-transition-property:$duration; -webkit-transition-property:$duration; transition-property:$duration; }
@mixin transition-timing-function($timing...) { -moz-transition-timing-function:$timing; -o-transition-timing-function:$timing; -webkit-transition-timing-function:$timing; transition-timing-function:$timing; }
@mixin transition-delay($delay...) { -moz-transition-delay:$delay; -o-transition-delay:$delay; -webkit-transition-delay:$delay; transition-delay:$delay; }
@mixin linear-gradient-cbx($shade...) {background-image:-o-linear-gradient($shade);background-image:-moz-linear-gradient($shade);background-image:-webkit-linear-gradient($shade);background-image:linear-gradient($shade);}


@mixin rotate($degrees) {-webkit-transform:rotate($degrees);-moz-transform:rotate($degrees);-ms-transform:rotate($degrees);-o-transform:rotate($degrees);transform:rotate($degrees);}

/*variables*/

// text colors
$brand-primary:red;
$text-color-darkset3:#525351 !important;
$text-color-darkset3-hover:#424341 !important;
$red-hover: #c9433f !important;

// primary colors
$primary-color-light:#2295f8;
$primary-color:#0275d8;
$primary-color-dark:#0265c8;
$primary-color-dark-hover:#0255b8;

// secondary colors
$secondary-color:#ffd741;
$secondary-color-border:#efc731;
$secondary-color-hover:#efc731;
$secondary-color-border-hover:#dfb721;

//backgrounds
$body-bg-default:#eee;
$body-bg-white:#fff !important;
$body-bg-trans:transparent !important;
$bcf5:#f5f5f5;
$bg2:#dcdcdc;
$cont-bg1:#e4e5f1;
$rgba-white:rgba(255,255,255,0.1);

// heights
$div-height:95vh;
$top-menu-height:47px;
$h:100%;
.h
{
  height:$h;
}

.nav-tabs .nav-link, .nav-tabs .nav-item.show .nav-link
{
  background: transparent;
  border: none;
  //border-bottom: 3px solid royalblue;
  color:$text-color-darkset3;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link
{
  background: transparent;
  border: none;
  border-bottom: 3px solid royalblue;
  color: royalblue;
}
//body background classes

.bg-white
{
  background: $body-bg-white;
}
.bg-trans
{
  background: $body-bg-trans;
}

// col-width usage
$col-1:8.33%;
$col-2:16.67%;
$col-3:25%;
$col-4:33.33%;
$col-5:41.67%;
$col-6:50%;
$col-7:58.33%;
$col-8:66.67%;
$col-9:75%;
$col-10:83.33%;
$col-11:91.67%;
$col-12:100%;

// floats // float-left and float-right class of bootstrap can be used instead of using these float variables
$float-left:float-left;

//border scss

$bt-light:1px solid #ddd;
$br-light:1px solid #ddd;
$bl-light:1px solid #ddd;
$bb-light:1px solid #ddd;
.bb
{
 border-bottom:$bb-light;  
}

$brd-light:1px solid #ddd !important;
.brd-def
{
  border: $brd-light;
}

$bt-second-clr:1px solid #ffd741;






// hovers 
$prim-hvr: 1px solid #ffd741 !important;

.prim-hvr:hover
{
  border:$prim-hvr;
  @include transition(all 0.15s linear .01s);
}
//$aliceblue:aliceblue;


/*Common css*/
a:focus,
  a:hover,
    input:focus,
      button:hover,
        .fa:hover
{
  cursor:pointer;
  outline:none;
}
input:hover
{
  cursor:text;
  outline:none;
}
.dataTables_filter label input:focus,
  .bg-white input.h:focus,
  .bg-white textarea:focus
{
  border:1px solid #aaa !important; 
}
/*remove box-shadow issues*/
button:focus
{
  box-shadow:0px 12px 20px -10px #999 !important;
}
.cl2
{
  width:$col-2;
  float:$float-left;
}
.cl8
{
  width:$col-8;
  float:$float-left;
}

//$assetPath: ./assets/img;
body
{
  //background-image:url(#{$assetPath}/lp.png);
  background-image:url(http://docs.qcitech.org/thumbnail/68cdb5911c834599b53f/1024/lp.png);
  color:$text-color-darkset3;
  background-color:$body-bg-default;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  overflow: hidden;
  overflow-y:scroll ;
}
.bg2{
  background:$bg2;
  background-image:url(http://docs.qcitech.org/thumbnail/68cdb5911c834599b53f/1024/lp.png);
  position:relative;
}
.bg2::before,
  .bg2::after
{
  z-index:-1;
  position:absolute;
  content:" ";
  display:block;
  width:110%;
  height:200px;
  top:-85px;
  @include rotate(-5deg);
  background:$bg2;
  background-image:url(http://docs.qcitech.org/thumbnail/68cdb5911c834599b53f/1024/lp.png);
}
.bg2::after
{
  height:200px;
  top: initial;
  bottom:-85px;
}
::-webkit-scrollbar-track
{
	-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.1);
	background-color:$bcf5;
	border-radius:0px;
}
::-webkit-scrollbar
{
	width: 7px;
	background-color:$bcf5;
}
::-webkit-scrollbar-thumb
{
	border-radius:0px;
	background-color:$body-bg-white;
	background-image:-webkit-gradient(linear, 10% 0%, 45% 54%, from( #ccc ), to( #ccc ), color-stop( .6, #999 ));/* 24a1b5 : 28b6cc */
}
::-webkit-scrollbar-thumb:hover
{
  background-image:-webkit-gradient(linear, 10% 0%, 45% 54%, from( #bbb ), to( #bbb ), color-stop( .6, #888 ));
  cursor:pointer;
}
.btn
{
  box-shadow:0px 15px 20px -10px #ddd;/* App Button Material Shadow Surface */
  font-weight:bold;
}
.btn:hover, .btn:visited
{
  box-shadow:0px 7px 5px -5px #aaa;
}
.btn-primary,
  .btn-primary:active
{
  background:$secondary-color;
  border-color:$secondary-color-border;
  color:$text-color-darkset3;
}
.btn-primary:hover
{
  background:$secondary-color-hover;
  border-color:$secondary-color-border-hover;
  color:$text-color-darkset3-hover;
}
.btn-primary:active
{
  -webkit-transform: scale(0.95);
  transform: scale(0.95);
  transition-duration:0.15s;
}
.cbx
{
  box-shadow: 0px 2px 2px #ccc;
  @include transition(all 0.15s linear .01s);
  @include linear-gradient-cbx(#fefefe, #f8f8f8);
  position:relative;
}
.cbx:hover
{
  box-shadow:none;
  @include transition(all 0.15s linear .01s);
  @include linear-gradient-cbx(#f8f8f8, #fefefe);
}
.cbx-2
{
  @include transition(all 0.15s linear .01s);
  @include linear-gradient-cbx(#f8f8f8, #fefefe);
}
.pos-bl
{
  position:fixed;
  bottom:0px;
  left:0;
  width:16.667%;
  font-size:10px;
  color:#656565;
  @include transition(all 0.15s linear .01s);
}
/*Navigation*/
.navbar-toggleable-md
{
  box-shadow:0px 20px 15px -15px #aaa;/*App Top Menu Bar Material Shadow*/
  height:$top-menu-height;
}
.navbar-toggleable-md .fa.text-white
{
  font-size:22px;
  width:$top-menu-height;
  height:$top-menu-height;
  line-height:$top-menu-height;
}
/*Hamburger Menu*/
.navbar-toggleable-md .fa-bars.text-white,
.navbar-toggleable-md .fa-times.text-white,
{
  background:$primary-color-dark;
  font-size:24px;
  text-shadow:1px 1px 1px #555;
  display:none;
  cursor:pointer;
  width:$top-menu-height;
  height:$top-menu-height;
  line-height:$top-menu-height;
}
.navbar-toggleable-md .fa.active
{
  display: block; 
}
.navbar-toggleable-md .fa.active:hover
{
  background:$primary-color-dark-hover;
} /*Hamburger Menu Ends*/
.fa-sign-out:hover {
  color:$red-hover;
}
/*Navigation Left*/
.slider-fix
{
  background-color:$body-bg-white;
  //border-right:$br-light;
  position:fixed;
  top:$top-menu-height;
  left:0;
  z-index:1031;
  box-shadow:1px 0px 2px #a0a0a0;/*App Left Menu Bar Material Shadow*/
  opacity: 1;
  @include transition(all 0.15s linear .01s);
}
.left-menu-close .frame .slider-fix,
  .left-menu-close .frame .slider-fix .nav-item.pos-bl
{
  left:-17%;
  opacity: 0;
  @include transition(all 0.15s linear .01s);
}
.left-menu-close .wrap-cont
{
  max-width:100%;
  @include transition(all 0.15s linear .01s);
}
.black-shadow
{
  opacity:0;
  z-index:-100;
  background:rgba(0,0,0,0.7);
  position:fixed;
  width:100%;
  height:100%;
}
.black-shadow.active
{
  opacity:1;
  z-index:1030;
}
.frame
{
  height:$div-height;
}
.slider-fix ul.nav.flex-column
{
  height:$div-height;
}
.slider-fix a.nav-link
{
  border-bottom:1px solid #eee;
  @include transition(all 0.15s linear .01s);
  box-shadow:0px 1px 0px #fff inset;
  color:$text-color-darkset3;
  padding:1em;
  text-transform:capitalize; 
}
.slider-fix a.nav-link:hover
{
  border-bottom:1px solid #d8d8d8;
  @include transition( all 0.15s linear .01s );
  //color:$primary-color;
  background: rgba(0,0,0,0.020);
}
.fa-6 
{
  font-size:22px;
  width:45px;
  position: relative;
  top: 3px;
}
/* Container
.container
{
  background-color: $cont-bg1;
} */
/* Wrap-container */
.wrap-cont
{
  position: absolute;
  top: $top-menu-height;
  right: 0;
  @include transition(all 0.15s linear .01s);
}
/*Dashboard project css*/
.homeDivStyle
{
  border:1px solid #ccc;
  background:#fafafa;
  box-shadow:none;
  @include transition(all 0.15s linear .01s);
}
.homeDivStyle:hover
{
  border:1px solid transparent;
  background:#f7f7f7;
  box-shadow:0px 0px 3px #aaa;
  @include transition(all 0.15s linear .01s);
}
.bt-sc
{
  //border-top: $bt-second-clr;
}
.bt
{
  border-top:$bt-light;
}
.crdHvr{
  //height:180px;
  border:1px solid transparent;  
  background:#FFF;
  box-shadow:0px 14px 5px -11px #bbb;
  @include transition( all 0.15s linear .01s );
  //overflow: hidden;
}
.crdHvr:hover
{
  cursor:pointer;
  border:$bt-second-clr;
  box-shadow:2px 2px 5px 0px #ccc;
  @include transition( all 0.15s linear .01s );
}
/*
.crdHvr .collapse p,
.crdHvr .collapsing p
{
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  overflow: hidden;
  -webkit-box-orient: vertical;
  line-height: 22px;
  max-height: 140px;
  font-size: 15px;
}
.crdHvr .fa.fa-ellipsis-v
{
  position:relative;
  left:3px;
}*/
.crdHvr h3 small
{
  text-overflow:ellipsis;
  display:-webkit-box;
  -webkit-line-clamp:3;
  overflow:hidden;
  -webkit-box-orient:vertical;
  line-height:18px;
  max-height:60px;
  font-size:16px;
  color:#3c3c3c;
}
.crdHvr h3 span
{
  //text-overflow:ellipsis;
  display:inline-block;
  //-webkit-line-clamp:1;
  //overflow:hidden;
  //-webkit-box-orient:vertical;
  line-height:25px;
  border-bottom:3px solid $secondary-color;
  //max-height:30px;
}








.fn .bbot a:after {
  /*fill blank space*/
  content:" ";
  /*just animate*/
  width:0;
  height:0;
  position:relative;
  /*center content*/
  left:0;
  right:0;
  margin:0 auto;
  top:3px;
  /*show the content*/
  display:block;
  /*give some colour*/
  background:#ffd741;
} .fn .bbot a.active:after {
  width:70px;/* sass width thing */
  height:5px;/* sass height thing */
} .fn .bbot a.strt:hover{
  //color: #ffd741;
  /* Is Sass module applicable on this transition */
  @include transition(color 0.25s ease-in-out 0.05s);
} .fn .bbot a.strt:hover:after {
  -o-animation:widen 0.3s 1;
  -ms-animation:widen 0.3s 1;
  -moz-animation:widen 0.3s 1;
  -webkit-animation:widen 0.3s 1;
  animation:widen 0.3s 1;
  width:70px;/* sass width thing */
  height:5px;/* sass height thing */
} @-webkit-keyframes widen {
0% { width:0;height:0px; } 100%{ width:100%;height:5px; }
} @-moz-keyframes widen {
0% { width:0;height:0px; } 100%{ width:100%;height:5px; }
} @-ms-keyframes widen { 
0% { width:0;height:0px; } 100%{ width:100%;height:5px; }
} @keyframes widen {
0% { width:0;height:0px; } 100%{ width:70px;height:5px;/* sass width thing */ }
}













/*Datatable css*/
.dataTables_wrapper
{
  padding-top:1rem;
}
// select
.dataTables_length label select
{
  background: #fff;
  border-color: #ddd;
  width: 60px;
  height: 30px;
  line-height: 30px;
  padding: 3px;
  text-indent: 3px;
  margin: 0 5px;
}
// input
.dataTables_filter label input
{
  border: 1px solid #ccc !important;
  box-shadow: none !important;
  padding: 3px;
  text-indent: 3px;
}
// main table
table.dataTable thead th,
  table.dataTable thead td
{
  border-bottom:1px solid #ccc;
  background:#f5f5f5;
}
table.dataTable tfoot th,
  table.dataTable tfoot td
{
  border-top: 1px solid #aaa;
}
// 26dec-2017
.table-striped tbody tr:nth-of-type(odd)
{
  background:transparent;
}
table.dataTable tbody th,
  table.dataTable tbody td
  {
    line-height: 38px;
  }

 //pagination
 .dataTables_wrapper .dataTables_paginate .paginate_button,
 {
  font-size:16px;
  padding:2px 10px;
  margin:5px;
  text-shadow:1px 1px 0px #fff !important;
  border:1px solid #ccc;
  background:#eaeaea;
  box-shadow:1px 1px 0px #fff inset;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current,
{
 font-size:16px;
 padding:2px 10px;
 margin:5px;
 text-shadow:1px 1px 0px #fff !important;
 border:1px solid #ccc;
 background: #fff;
 box-shadow:1px 2px 0px #fff inset;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover,
  .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover
{
  background:$body-bg-white;
  border:1px solid #ccc;
  color: $text-color-darkset3-hover;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
  .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
    .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active
{
  background: $body-bg-trans;
  cursor: not-allowed;
}








/*
table.dataTable thead th,
  table.dataTable thead td
{
 border-bottom: 1px solid #aaa;
}

tbody tr td input
{
  border: 1px solid transparent !important;
  border-left-color: #ddd !important;
  background: transparent !important;
  margin: 0 !important;
  height: 100%;
  box-sizing: border-box;
  position: relative;
}
tbody tr td input:focus
{
  height: 100%;
  border: 1px solid #ccc !important;
  background: transparent !important;
  box-shadow: 0px 0px 1px $secondary-color;
}*/
/*tbody:hover ~ .cted 
{
  display: block;
  @include transition( all 0.15s linear .01s );
}*/
// table result info
.dataTables_info
{
  font-size:12px;
}

.row th,
  .row td
{
  //width:100% !important;
  //padding:4px 3px !important;
  //font-size: 90%; 
}/*
.row td
{
  padding:0 !important;
  height: 40px;
  box-sizing: border-box;
}
table th.sorting_asc
{
  max-width:100px;
  width:100px !important;
}
table.dataTable.row-border tbody th, table.dataTable.row-border tbody td, table.dataTable.display tbody th, table.dataTable.display tbody td
{
  //border-bottom:1px solid #f5f5f5;
  box-shadow:0 10px 10px -10px #ccc;
}*/
/*
.cted
{
  display: none;
  opacity: 0.8;
  position: absolute;
  top: 0;
  left: 0;
  @include transition( all 0.15s linear .01s );
}
.display{ position: relative;}
*/




/*Bootstrap modal popup changed css*/
.md,
  .modal-dialog
{
  max-width:50%;//by default max-width:500px;
  min-width:500px;
}
.modal-dialog
{
  margin:100px auto 30px;
}
.modal-content
{
  border-radius:0 0 0.3rem 0.3rem;
}
.modal-title
{
   text-shadow:-1px 3px 1px #0245a8;
}
.modal-header
{
  background:$primary-color;
  box-shadow:0px 20px 15px -15px #aaa;
  border-bottom:transparent;
  color:#fff;
  z-index: 99;
}
.modal-body
{
  padding-top:25px;
  background:#fbfbfb;
}
.modal-backdrop.show
{
  opacity:0.7;
}
.modal-footer
{
  box-shadow:-3px -15px 20px -20px #999;
  border:none;
  z-index: 99;
}
//.modal-body input
//{
//  box-shadow:0px 0px 1px -1px #ccc;
//}



//bootstrap changed css
  //pagination
  .page-link{
    background:transparent;
    box-shadow:1px 1px 0px #fff inset;
  }
  .bg-sc .page-link
  {
    background:$secondary-color;
    color:$text-color-darkset3;
  }
  .page-link:hover
  {
    box-shadow: 1px 1px 1px #fff inset;
  }
  // card titles
 /* .card-title
  {
    position: absolute;
    top: -8px;
    left: -1px;
    width: 110px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    height: 60px;
    line-height: 60px;
    padding: 0;
    text-align: center;
    background: #fff;
    border-color: transparent;
    border-radius: 0px 00px 30px 0px;
    box-shadow: 1px 1px 1px #ccc;
  }
*/







small
{
  color:#000;
}



// backgrounds colors 
  //.aliceblue
  //{
  //  background:$aliceblue;
  //}




//heading
h5 
{
   border-bottom: 4px solid $secondary-color;
   display: inline-block;
}









/* Templates fields */
.adf .modal-body
{
  height:400px;
  margin:0 0 -18px;
  padding-top:0;
  position:relative;
  top:-21px;
  padding:0;
}
.adf .modal-body .nav-tabs
{
  border-bottom:2px solid $primary-color;
}
.adf .modal-body .nav-tabs .nav-item
{
  margin-bottom:0;
}
.adf .modal-body .nav-tabs a
{
  color: $primary-color;
  position: relative;
}
.adf .modal-body .nav-tabs a.active
{
  color: $primary-color;
  border-color:transparent;
  border-radius:0 !important;
}
.adf .modal-body .nav-tabs .nav-link:focus,
  .adf .modal-body .nav-tabs .nav-link:hover
{
  border-color: transparent;
  border-radius: 0;
}
.adf .modal-body .nav-tabs .nav-link:after
{
  content:" ";
  border:20px solid $primary-color;
  display:none;
  border-color:$primary-color transparent transparent transparent;
  position:absolute;
  top:41px;
  border-width:5px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: fit-content;
  @include transition( all 0.15s linear .01s );
}
.adf .modal-body .nav-tabs .nav-link.active:after,
  .adf .modal-body .nav-tabs .nav-link:hover:after
{
  display:block;
  //border-color:transparent;
  @include transition( all 0.15s linear .01s );

}
.adf .flex-column .nav-link
{
  color:$text-color-darkset3;
}
.adf .flex-column .nav-link:hover
{
  color:$text-color-darkset3-hover;
}









//font awesome css

.fa-arrow-up,
.fa-arrow-down,
  .fa-trash-o
  {
    opacity:0.6;
    @include transition( all 0.15s linear .01s );
  }
  .fa:hover
    {
      opacity:1;
      @include transition( all 0.15s linear .01s );
    }
  .fa-ellipsis-v:hover
    {
      background:$rgba-white;
      @include transition( all 0.15s linear .01s );
    }
  
  /*
  .fa.cbx
    {
      color: inherit;
      @include transition( all 0.15s linear .01s );
    }
  .fa.cbx:hover
    {
      color: $secondary-color;
      @include transition( all 0.15s linear .01s );
    }
  */








@media only screen and (max-width:1024px){
/*.crdHvr
  {
    height:210px;
  }
*/
.crdHvr p span
  {
    display: block;  
  }
}

@media only screen and (max-width:992px){
  .slider-fix,
    .pos-bl
  {
    width: 40%
  }
  .left-menu-close .frame .slider-fix,
    .left-menu-close .frame .slider-fix .nav-item.pos-bl
  {
   left:-45%;
    @include transition(all 0.15s linear .01s);
  }
}
@media only screen and (max-width:640px){
  .slider-fix,
    .pos-bl
  {
    width: 70%
  }
  .left-menu-close .frame .slider-fix,
    .left-menu-close .frame .slider-fix .nav-item.pos-bl
  {
    left:-75%;
    @include transition(all 0.15s linear .01s);
  }
}


// Checkbox Css only
.chkbx {
  position:relative;
  display:inline-block;
  cursor:pointer;
  padding-left:60px;
  height:20px;
  line-height:36px;
  margin:5px 0;
}
.chkbx input {
  display: none;
}
.chkbx_in::after {
  content: '';
  position: absolute;
  top: 10px;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #d5d5d5;
  border-radius: 50%;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  -webkit-animation-name: pulsein;
          animation-name: pulsein;
  -webkit-animation-duration: .3s;
          animation-duration: .3s;
}
.chkbx_in::before
{
  content: '';
  position: absolute;
  top: 16px;
  left: 0;
  width: 50px;
  height: 6px;
  background-color: #d5d5d5;
  border-radius: 10px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
input:checked + .chkbx_in::after
{
  background-color:$secondary-color;
  -webkit-transform: translateX(35px);
          transform: translateX(35px);
  -webkit-animation-name: pulseout;
          animation-name: pulseout;
  -webkit-animation-duration: .3s;
          animation-duration: .3s;
}
input:checked + .chkbx_in::before
{
  background-color:$secondary-color;
}
input:disabled + .chkbx_in::after, input:disabled + .chkbx_in::before
{
  background-color: #e5e5e5;
}
@-webkit-keyframes pulsein {
  0%, 100% { top: 10px; height: 20px; width: 20px; }
  50% { top: 12px; height: 14px; width: 26px; }
}
@keyframes pulsein {
  0%, 100% { top: 10px; height: 20px; width: 20px; }
  50% { top: 12px; height: 14px; width: 26px; }
}
@-webkit-keyframes pulseout {
  0%, 100% { top: 10px; height: 20px; width: 20px; }
  50% { top: 12px; height: 14px; width: 26px; }
}
@keyframes pulseout {
  0%, 100% { top: 10px; height: 20px; width: 20px; }
  50% { top: 12px; height: 14px; width: 26px; }
}







//font-sizes
  @media only screen and (max-width: 628px) and (min-width: 572px) 
  {
    .fs-sm{
      font-size:0.7rem;
    }
  }





// material forms
/*
fieldset.form-group {
  position:relative;
  border:none;  
}
label.col-form-label {
  position:absolute;  
  top:18px;
  left:0;
  color:rgba(0, 0, 0, 0.3);
  transform-origin:left;
  @include transition(all 0.15s linear .01s);
}
input.form-control:focus ~ label.col-form-label {
  color:$primary-color;  
}
input.form-control:focus ~ label.col-form-label ,
input.form-control:valid ~ label.col-form-label  {
  top: 0;
  transform: scale(0.6, 0.6);
}
input.form-control {
  font-size: 16px;  
  width: 100%;
  border: none;  
  margin-top: 15px;
  background: transparent;
}
input.form-control:focus {
  outline: none;
  background: transparent;
}
.after {
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, $secondary-color 50%, transparent 50%);
  background-color: rgba(0, 0, 0, 0.3);
  background-size: 200% 100%;
  background-position: 100% 0;
  @include transition(all 0.15s linear .01s);
}
input.form-control:focus ~ .after {
  background-position: 0 0;
}
*/



// form-builder css
.form-build-design .bg-white
{
  position: relative;
}
.form-build-design .fa-trash-o 
{
  position: absolute;
  top: -11px;
  right: 0px; 
}