// SCSS Documentation GUIDE v1.0 || Support @ QCI Tech
  // Some Commonly used abbreviations(For variables only)
    /*

    
    */
  // Some Commonly used abbreviations(For Classes only)
    /*

    
    */
  // 1. font-family         :   'Open Sans' , sans-serif
  // 2. font-size           :   0.8 rem
  // 3. $primary-color      :   Variable of #3f4a59
  // 4. $Secondary color    :   Variable of #ffd741
  //
  //
  //
  //
  //
  //
  //
  //
  //
  //
  //
  //
  //
  //
  //
  //
  //
  //


/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/_functions.scss";
@import "~bootstrap/scss/_variables.scss";
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/*transitions mixins*/
@mixin transition($transition...){-moz-transition:$transition;-o-transition:$transition;-webkit-transition:$transition;transition:$transition;}
@mixin transition-property($property...){-moz-transition-property:$property;-o-transition-property:$property;-webkit-transition-property:$property;transition-property:$property;}
@mixin transition-duration($duration...){-moz-transition-property:$duration;-o-transition-property:$duration;-webkit-transition-property:$duration;transition-property:$duration;}
@mixin transition-timing-function($timing...){-moz-transition-timing-function:$timing;-o-transition-timing-function:$timing;-webkit-transition-timing-function:$timing;transition-timing-function:$timing;}
@mixin transition-delay($delay...){-moz-transition-delay:$delay;-o-transition-delay:$delay;-webkit-transition-delay:$delay;transition-delay:$delay;}
@mixin linear-gradient-cbx($shade...){background-image:-o-linear-gradient($shade);background-image:-moz-linear-gradient($shade);background-image:-webkit-linear-gradient($shade);background-image:linear-gradient($shade);}
@mixin rotate($degrees){-webkit-transform:rotate($degrees);-moz-transform:rotate($degrees);-ms-transform:rotate($degrees);-o-transform:rotate($degrees);transform:rotate($degrees);}
/*variables*/
body{
  font-family:'Open Sans',sans-serif;  
  font-size:0.8rem;
}
// text colors
$brand-primary:red;
$text-color-darkset3:#424341 !important;
$text-color-darkset3-hover:#424341 !important;
$red-hover: #c9433f !important;
$text-color-on-dark-bg:#fff;

// primary colors
$primary-color-light:#3f4a59;
$primary-color:#3f4a59 !important;
$primary-color-dark:#2f3a49;
$primary-color-dark-hover:#1f2a39;
$text-blue: #0275d8;
.text-blue
{
  color:$text-blue !important;
}
.bg-primary
{
  background:$primary-color;
}

//toast 
$toast-succ:#4caf50 !important;
$toast-err:#f44336 !important;
$toast-war:#ffd741 !important;

//overflows
.ofy {
  overflow:hidden;
  overflow-y:scroll;
}

// secondary colors
$secondary-color:#ffd741;
.text-secondary {
  color:$secondary-color !important;
}

$secondary-color-border:#efc731 !important;
$secondary-color-hover:#efc731;
$secondary-color-border-hover:#dfb721;

//backgrounds
$body-bg-default:#ededed;
$body-bg-def2:#fafafa;
$body-bg-white:#fff !important;
$body-bg-trans:transparent !important;
$bcf5:#f5f5f5;
$bg2:#e2e2e2;
$cont-bg1:#e4e5f1;
$rgba-white:rgba(255,255,255,0.1);

// box-shadow css
$bx-shdw9:#999;
$bx-shdw-grey:#ccc;
$mod-hd-bx-shdw:#aaa;
$bx-shdw-tr:#555;

// border-colors css
$brdr-light-lightest:#eee;
$brdr-clr-three:#ddd;
$brdr-light:#ccc;
$brdr-lightr-dim:#bbb;
$brdr-light-dim:#aaa;
$brdr-light-dark:#888;

// heights
$div-height:95vh;
$top-menu-height:30px;
$h:100%;

.h {
  height:$h;
}

.nav-tabs .nav-link, .nav-tabs .nav-item.show .nav-link{
  background:transparent;
  border:none;
  //border-bottom: 3px solid royalblue;
  color:$text-color-darkset3;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link{
  background:transparent;
  border:none;
  border-bottom:3px solid $primary-color;
  color:$primary-color;
}

a {
  color:$primary-color;
}

// col-width usage
$col-1:8.33%;
$col-2:16.65%;
$col-3:25%;
$col-4:33.33%;
$col-5:41.67%;
$col-6:50%;
$col-7:58.33%;
$col-8:66.67%;
$col-9:75%;
$col-10:83.33%;
$col-11:91.67%;
$col-12:100%;

// floats // float-left and float-right class of bootstrap can be used instead of using these float variables
$float-left:float-left;

//border and its color scss 
$bwbc:#fff !important;

$brd-ddd:1px solid #ddd;
.bb {
 border-bottom:$brd-ddd;  
}
.br {
 border-right:$brd-ddd;  
}
.bl {
 border-left:$brd-ddd;  
}
.bt {
  border-top:$brd-ddd;  
 }
$brd-light:1px solid #ddd !important;
.brd-def {
  border:$brd-light;
}
$bt-second-clr:1px solid $secondary-color;

//positions classes
.pos-fix-bl {
  position:fixed;
  bottom:0;
  left:0;
  z-index:9;
}
.pos-rel {
  position:relative;
}
.pos-abso-tl {
  position:absolute;
  top:0;
  left:0;
  z-index:9;
}
.pos-abso-tr {
  position:absolute;
  top:5px;
  right:0;
  z-index: 9;
}
.pos-abso-bl {
  position:absolute;
  left:0px;
  bottom:0;
  z-index: 9;
}
.navbar-toggleable-md .navbar-brand {
  color:$text-color-on-dark-bg !important;
}

// hovers 
$prim-hvr: 1px solid $secondary-color !important;

.prim-hvr:hover
{
  border:$prim-hvr;
  @include transition(all 0.15s linear .01s);
}
//$aliceblue:aliceblue;
ss-multiselect-dropdown div ul li .dropdown-item.active, ss-multiselect-dropdown div ul li .dropdown-item:active , ss-multiselect-dropdown div ul li .dropdown-item:focus {
    color:$body-bg-white;
    text-decoration: none;
    background-color: #acd8ff !important;
}


/*Common css*/
a:focus,
  a:hover,
    button:hover,
      .fa:hover
{
  cursor:pointer;
  outline:none;
}
input:focus, 
  .form-control:focus
{
  outline: none;
  box-shadow: none;
  border-color:$brdr-lightr-dim;//$brdr-lightr-dim
  //text-indent: 15px;
}
input[type="text"]:hover,
  input[type="password"]:hover
{
  cursor:text;
  outline:none;
}
input[type="radio"]:hover,
  input[type="checkbox"]:hover
{
  cursor:pointer;
  outline:none;
}
.dataTables_filter label input:focus,
  .bg-white input.h:focus,
  .bg-white textarea:focus
{
  border:1px solid $brdr-light-dim !important;//$brdr-light-dim 
}
/*remove box-shadow issues*/
button:focus
{
  box-shadow:0px 12px 20px -10px $bx-shdw9 !important;//$bx-shdw9
}
.cl2
{
  width:$col-2;
  float:$float-left;
}
.cl4
{
  width:$col-4;
  float:$float-left;
}
.cl6
{
  width:$col-6;
  float:$float-left;
}
.cl8{
  width:$col-8;
  float:$float-left;
}

//$assetPath: ./assets/img;
body{
  //background-image:url(#{$assetPath}/lp.png);
  //background-image:url(http://docs.qcitech.org/thumbnail/68cdb5911c834599b53f/1024/lp.png);
  color:$text-color-darkset3;
  background-color:$body-bg-default;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  overflow: hidden;
  overflow-y:scroll ;
}
.bg2{
  //background:$bg2;
  // background-image:url(http://docs.qcitech.org/thumbnail/68cdb5911c834599b53f/1024/lp.png);
  position:relative;
}
.bg2::before,
  .bg2::after {
  z-index:-1;
  position:absolute;
  content:" ";
  display:block;
  width:110%;
  height:200px;
  top:-85px;
  @include rotate(-5deg);
  //background:$bg2;
  // background-image:url(http://docs.qcitech.org/thumbnail/68cdb5911c834599b53f/1024/lp.png);
}
.bg2::after
{
  height:200px;
  top: initial;
  bottom:-85px;
}
::-webkit-scrollbar-track
{
	-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.1);
	background-color:$bcf5;
	border-radius:0px;
}
::-webkit-scrollbar
{
  width:7px;
  height:7px;
	background-color:$bcf5;
}
::-webkit-scrollbar-thumb
{
	border-radius:0px;
	background-color:$body-bg-white;
	background-image:-webkit-gradient(linear, 10% 0%, 45% 54%, from( #ccc ), to( #ccc ), color-stop( .6, #999 ));/* 24a1b5 : 28b6cc */
}
::-webkit-scrollbar-thumb:hover
 {
  background-image:-webkit-gradient(linear, 10% 0%, 45% 54%, from( #bbb ), to( #bbb ), color-stop( .6, #888 ));
  cursor:pointer;
}
.btn {
  box-shadow:0px 15px 20px -10px #ddd;/* App Button Material Shadow Surface, $btn-shdw*/
  //font-weight:bold;-webkit-transform: scale(0.95);
  transform: scale(0.95);
  transition-duration:0.15s;
}
.btn:hover, .btn:visited {
  box-shadow:0px 7px 5px -5px #aaa;//$btn-shdw-hvr
}
.btn-primary,
  .btn-primary:active {
  background:$secondary-color !important;
  border-color:$secondary-color-border;
  color:$text-color-darkset3;
}
.btn-primary:hover {
  background:$secondary-color-hover;
  border-color:$secondary-color-border-hover;
  color:$text-color-darkset3-hover;
}
.btn-primary:active {
  -webkit-transform: scale(0.90);
  transform: scale(0.90);
  transition-duration:0.15s;
}
.btn-secondary {
  background:$body-bg-white;
  border-color:$brd-ddd;
  color:$text-color-darkset3-hover;
}
.bwbc {
  border-color:$body-bg-white !important;
}
.cbx {
  box-shadow:none;
  @include transition(all 0.15s linear .01s);
  @include linear-gradient-cbx($body-bg-white,$body-bg-def2);
  position:relative;
}
.cbx:hover {
  box-shadow:0px 8px 10px -10px #000;//$dv-shdw
  @include transition(all 0.15s linear .01s);
  @include linear-gradient-cbx($body-bg-def2, $body-bg-white);
}
.cbx-2 {
  @include transition(all 0.15s linear .01s);
  @include linear-gradient-cbx($body-bg-def2, $body-bg-white);
}
.pos-bl {
  position:fixed;
  bottom:0px;
  left:0;
  width:16.667%;
  font-size:10px;
  color:#656565;
  @include transition(all 0.15s linear .01s);
}
/*Navigation*/
.navbar-toggleable-md
{
  box-shadow:0px 15px 10px -10px $bx-shdw-grey;/*App Top Menu Bar Material Shadow, $bx-shdw-grey*/
  height:$top-menu-height;
}
.navbar-toggleable-md .fa.text-white
{
  font-size:22px;
  width:$top-menu-height;
  height:$top-menu-height;
  line-height:$top-menu-height;
}
/*Hamburger Menu*/
.navbar-toggleable-md .fa-bars.text-white,
.navbar-toggleable-md .fa-long-arrow-left.text-white,
{
  background:$primary-color-dark;
  font-size:24px;
  text-shadow:1px 1px 1px #555;
  display:none;
  cursor:pointer;
  width:$top-menu-height;
  height:$top-menu-height;
  line-height:$top-menu-height;
}
.navbar-toggleable-md .fa.active
{
  display: block; 
}
.navbar-toggleable-md .fa.active:hover
{
  background:$primary-color-dark-hover;
} /*Hamburger Menu Ends*/
.fa-sign-out:hover {
  color:$red-hover;
}
/*Navigation Left*/
.slider-fix
{
  background-color:$primary-color;
  //border-right:$brd-ddd;
  position:fixed;
  top:$top-menu-height;
  left:0;
  z-index:1031;
  //box-shadow:0px 0px 2px #a0a0a0;/*App Left Menu Bar Material Shadow*/
  opacity: 1;
  @include transition(all 0.15s linear .01s);
}
.left-menu-close .frame .slider-fix,
  .left-menu-close .frame .slider-fix .nav-item.pos-bl
{
  left:-17%;
  opacity: 0;
  @include transition(all 0.15s linear .01s);
}
.left-menu-close .wrap-cont
{
  max-width:100%;
  @include transition(all 0.15s linear .01s);
}
ul.collapsing{
  padding-top:0 !important;
  padding-bottom:0 !important;
}
.show, .collapse, .collapsing, a.nav-link .fa-chevron-right, a.collapsed .fa-chevron-right{
  transition:all linear 0.3s;
  -webkit-transition:all linear 0.3s;
}
.show.collapse{
  border-bottom:1px solid $primary-color-dark-hover;
  //background:$primary-color-dark;
  //box-shadow:0px 0px 5px 0px $primary-color-dark inset;
}
a.nav-link .fa-chevron-right {
  -webkit-transform:rotate(90deg);
  transform:rotate(90deg);
}
a.collapsed .fa-chevron-right {
  -webkit-transform:rotate(0deg);
  transform:rotate(0deg);
}
.black-shadow
{
  opacity:0;
  z-index:-100;
  background:rgba(0,0,0,0.7);
  position:fixed;
  width:100%;
  height:100%;
}
.black-shadow.active {
  opacity:1;
  z-index:1030;
}
.frame {
  height:$div-height;
} .slider-fix ul.nav.flex-column {
  height:2+$div-height;
  border-top: 1px solid $text-color-darkset3;
} .slider-fix a.nav-link {
  //border-bottom:1px solid #eee;
  @include transition(all 0.15s linear .01s);
  //box-shadow:0px 1px 0px #fff inset;
  color:$body-bg-white;
  padding:1em;
  text-transform:capitalize; 
  //background:$primary-color-dark;
}
// font-sizes 
$f80:80%;
.f80 {
  font-size: $f80;
}
i.f80 {
  padding:0.65rem;
  color: #999 
}
.slider-fix a.nav-link.collapsed{
  background:transparent;
}
.slider-fix a.nav-link:hover, .slider-fix .nav-item a.nav-link.active
{
  //border-bottom:1px solid #d8d8d8;
  @include transition( all 0.15s linear .01s );
  //color:$primary-color;
  background:$primary-color-dark-hover;
}
.fa-6 {
  font-size:20px;
  width:35px;
  position:relative;
  top:3px;
}
/* Container
.container
{
  background-color: $cont-bg1;
} */
/* Wrap-container */
.wrap-cont
{
  position:absolute;
  top:$top-menu-height;
  right:0;
  @include transition(all 0.15s linear .01s);
}
/*Dashboard project css*/
.homeDivStyle
{
  border:1px solid $brdr-light;//$brdr-light
  background:#fafafa;
  box-shadow:none;
}/*
.homeDivStyle:hover
{
  border:1px solid transparent;
  background:#f7f7f7;
  box-shadow:0px 0px 3px #aaa;
  @include transition(all 0.15s linear .01s);
}*/
.bt-sc
{
  //border-top: $bt-second-clr;
}
.bt
{
  border-top:$brd-ddd;
}
.crdHvr{
  //height:180px;
  min-height:190px;
  border:1px solid transparent;  
  background:#FFF;
  box-shadow:0px 14px 5px -11px #bbb;//$dv-shdw-form
  @include transition( all 0.15s linear .01s );
  //overflow: hidden;
}
.crdHvr:hover
{
  cursor:pointer;
  border:$bt-second-clr;
  box-shadow:2px 2px 5px 0px #ccc;//$dv-shdw-form-hvr
  @include transition( all 0.15s linear .01s );
}
/*
.crdHvr .collapse p,
.crdHvr .collapsing p
{
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  overflow: hidden;
  -webkit-box-orient: vertical;
  line-height: 22px;
  max-height: 140px;
  font-size: 15px;
}
.crdHvr .fa.fa-ellipsis-v
{
  position:relative;
  left:3px;
}*/
.crdHvr h3 small
{
  text-overflow:ellipsis;
  display:-webkit-box;
  -webkit-line-clamp:3;
  overflow:hidden;
  -webkit-box-orient:vertical;
  line-height:18px;
  max-height:60px;
  font-size:16px;
  color:#3c3c3c;
}
.crdHvr h3 span
{
  //text-overflow:ellipsis;
  display:inline-block;
  //-webkit-line-clamp:1;
  //overflow:hidden;
  //-webkit-box-orient:vertical;
  line-height:25px;
  border-bottom:3px solid $secondary-color;
  //max-height:30px;
}








.fn .bbot a:after {
  /*fill blank space*/
  content:" ";
  /*just animate*/
  width:0;
  height:0;
  position:relative;
  /*center content*/
  left:0;
  right:0;
  margin:0 auto;
  top:3px;
  /*show the content*/
  display:block;
  /*give some colour*/
  background:#ffd741;
} .fn .bbot a.active:after {
  width:70px;/* sass width thing */
  height:5px;/* sass height thing */
} .fn .bbot a.strt:hover{
  //color: #ffd741;
  /* Is Sass module applicable on this transition */
  @include transition(color 0.25s ease-in-out 0.05s);
} .fn .bbot a.strt:hover:after {
  -o-animation:widen 0.3s 1;
  -ms-animation:widen 0.3s 1;
  -moz-animation:widen 0.3s 1;
  -webkit-animation:widen 0.3s 1;
  animation:widen 0.3s 1;
  width:70px;/* sass width thing */
  height:5px;/* sass height thing */
} @-webkit-keyframes widen {
0% { width:0;height:0px; } 100%{ width:100%;height:5px; }
} @-moz-keyframes widen {
0% { width:0;height:0px; } 100%{ width:100%;height:5px; }
} @-ms-keyframes widen { 
0% { width:0;height:0px; } 100%{ width:100%;height:5px; }
} @keyframes widen {
0% { width:0;height:0px; } 100%{ width:70px;height:5px;/* sass width thing */ }
}













/*Datatable css*/
.dataTables_wrapper {
  padding-top:1rem;
}
// select
.dataTables_length label select {
  background:$body-bg-white;
  border-color:$brdr-clr-three;//$brdr-clr-three
  width:60px;
  height:30px;
  line-height:30px;
  padding:3px;
  text-indent:3px;
  margin:0 5px;
}
// input
.dataTables_filter label input {
  border:1px solid $brdr-light !important;//$brdr-light
  box-shadow:none !important;
  padding:3px;
  text-indent:3px;
}
// main table

/*
.table{
  display:block;
  max-width:100%;
  overflow-x:scroll;
}
*/
table.dataTable thead th,
  table.dataTable thead td
{
  border-bottom:1px solid $brdr-light;//$brdr-light
  background:#f5f5f5;
}
table.dataTable tfoot th,
  table.dataTable tfoot td
{
  border-top:1px solid $brdr-light-dim;//$brdr-light-dim
}
// 26dec-2017
.table-striped tbody tr:nth-of-type(odd)
{
  background:transparent;
}
table.dataTable tbody th,
  table.dataTable tbody td {
    line-height:24px;
    padding:2px 7px !important;
    white-space:nowrap; 
  }

 //pagination
 .dataTables_wrapper .dataTables_paginate .paginate_button,
 {
  font-size:16px;
  padding:2px 10px;
  margin:5px;
  text-shadow:1px 1px 0px $text-color-on-dark-bg !important;
  border:1px solid $brdr-light;//$brdr-light
  background:#eaeaea;
  box-shadow:1px 1px 0px $body-bg-white inset;//$bx-shdw-pagination
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current,
{
 font-size:16px;
 padding:2px 10px;
 margin:5px;
 text-shadow:1px 1px 0px $body-bg-white !important;
 border:1px solid $brdr-light;//$brdr-light
 background: $body-bg-white;
 box-shadow:1px 2px 0px $body-bg-white inset;//$bx-shdw-pagination
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover,
  .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover
{
  background:$body-bg-white;
  border:1px solid $brdr-light;//$brdr-light
  color:$text-color-darkset3-hover;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
  .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
    .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active
{
  background: $body-bg-trans;
  cursor: not-allowed;
}

.header-1
{
  width: 20px !important;
}
table.dataTable thead th,
  table.dataTable tbody td
  {
    border-right:$brd-ddd;
    border-color:$brdr-light-lightest;//$brdr-light-lightest
  }







/*
table.dataTable thead th,
  table.dataTable thead td
{
 border-bottom: 1px solid #aaa;
}

tbody tr td input
{
  border: 1px solid transparent !important;
  border-left-color: #ddd !important;
  background: transparent !important;
  margin: 0 !important;
  height: 100%;
  box-sizing: border-box;
  position: relative;
}
tbody tr td input:focus
{
  height: 100%;
  border: 1px solid #ccc !important;
  background: transparent !important;
  box-shadow: 0px 0px 1px $secondary-color;
}*/
/*tbody:hover ~ .cted 
{
  display: block;
  @include transition( all 0.15s linear .01s );
}*/
// table result info
.dataTables_info
{
  font-size:12px;
}

.row th,
  .row td
{
  //width:100% !important;
  //padding:4px 3px !important;
  //font-size: 90%; 
}/*
.row td
{
  padding:0 !important;
  height: 40px;
  box-sizing: border-box;
}
table th.sorting_asc
{
  max-width:100px;
  width:100px !important;
}
table.dataTable.row-border tbody th, table.dataTable.row-border tbody td, table.dataTable.display tbody th, table.dataTable.display tbody td
{
  //border-bottom:1px solid #f5f5f5;
  box-shadow:0 10px 10px -10px #ccc;
}*/
/*
.cted
{
  display:none;
  opacity:0.8;
  position:absolute;
  top:0;
  left:0;
  @include transition(all 0.15s linear .01s);
}
.display{position:relative;}
*/




/*Bootstrap modal popup changed css*/
.md,
  .modal-dialog
{
  max-width:50%;//by default max-width:500px;
  min-width:414px;
}
.modal-dialog
{
  margin:100px auto 30px;
}
.modal-content
{
  border-radius:0 0 0.3rem 0.3rem;
}
.modal-title
{
   //text-shadow:0px 0px 0px $primary-color-dark;
   color:$text-color-on-dark-bg;
}
.modal-header
{
  border-radius:0;
  background:$primary-color;
  box-shadow:0px 20px 15px -15px $mod-hd-bx-shdw;//$mod-hd-bx-shdw
  border-bottom:transparent;
  color:$body-bg-white;
  z-index: 99;
}
.modal-body
{
  padding-top:25px;
  background:#fbfbfb;
}
.modal-backdrop.show
{
  opacity:0.7;
}
.modal-footer
{
  box-shadow:-3px -15px 20px -20px $bx-shdw9;//$mod-ftr-bx-shdw
  border:none;
  z-index: 99;
}
.modal-body input
{
  border-radius:0;
}



//bootstrap changed css
  //pagination
  .page-link{
    background:transparent;
    box-shadow:1px 1px 0px $body-bg-white inset;//$pg-lnk-bx-shdw
  }
  .bg-sc .page-link
  {
    background:$secondary-color;
    color:$text-color-darkset3;
  }
  .page-link:hover
  {
    box-shadow: 1px 1px 1px $body-bg-white inset;//$pg-lnk-bx-shdw-hvr
  }
  // card titles
 /* .card-title
  {
    position: absolute;
    top: -8px;
    left: -1px;
    width: 110px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    height: 60px;
    line-height: 60px;
    padding: 0;
    text-align: center;
    background: #fff;
    border-color: transparent;
    border-radius: 0px 00px 30px 0px;
    box-shadow: 1px 1px 1px #ccc;
  }
*/


small
{
  color:#000;
}



// backgrounds colors 
  //.aliceblue
  //{
  //  background:$aliceblue;
  //}




//heading
h5 {
   //border-bottom: 4px solid $secondary-color;
   display: inline-block;
}









/* Templates fields */
.adf .modal-body
{
  height:400px;
  margin:0 0 -18px;
  padding-top:0;
  position:relative;
  top:-21px;
  padding:0;
}
.adf .modal-body .nav-tabs
{
  border-bottom:2px solid $primary-color;
}
.adf .modal-body .nav-tabs .nav-item
{
  margin-bottom:0;
}
.adf .modal-body .nav-tabs a
{
  color:$primary-color;
  position:relative;
}
.adf .modal-body .nav-tabs a.active
{
  color:$primary-color;
  border-color:transparent;
  border-radius:0 !important;
}
.adf .modal-body .nav-tabs .nav-link:focus,
  .adf .modal-body .nav-tabs .nav-link:hover
{
  border-color:transparent;
  border-radius:0;
  color:$primary-color-dark-hover;
}
.adf .modal-body .nav-tabs .nav-link:after
{
  content:" ";
  border-style:solid;
  display:none;
  border-top-color:$primary-color;
  border-right-color:transparent;
  border-bottom-color:transparent;
  border-left-color:transparent;
  position:absolute;
  top:41px;
  border-width:10px;
  left:0;
  right:0;
  margin:0 auto;
  width:fit-content;
  @include transition( all 0.15s linear .01s );
  //@include rotate(45deg);
}
.adf .modal-body .nav-tabs .nav-link.active:after
  //.adf .modal-body .nav-tabs .nav-link:hover:after
{
  display:block;
  //border-color:transparent;
  @include transition( all 0.15s linear .01s );

}
.adf .flex-column .nav-link
{
  color:$text-color-darkset3;
}
.adf .flex-column .nav-link:hover
{
  color:$text-color-darkset3-hover;
}









//font awesome css

.fa-arrow-up,
.fa-arrow-down,
  .fa-trash-o
  {
    opacity:0.6;
    @include transition( all 0.15s linear .01s );
  }
  .fa:hover
    {
      opacity:1;
      @include transition( all 0.15s linear .01s );
    }
  .fa-ellipsis-v:hover
    {
      background:$rgba-white;
      @include transition( all 0.15s linear .01s );
    }
  
  /*
  .fa.cbx
    {
      color: inherit;
      @include transition( all 0.15s linear .01s );
    }
  .fa.cbx:hover
    {
      color: $secondary-color;
      @include transition( all 0.15s linear .01s );
    }
  */








@media only screen and (max-width:1024px){
/*.crdHvr
  {
    height:210px;
  }
*/
.crdHvr p span
  {
    display: block;  
  }
}

@media only screen and (max-width:992px){
  .slider-fix,
    .pos-bl
  {
    width: 40%
  }
  .left-menu-close .frame .slider-fix,
    .left-menu-close .frame .slider-fix .nav-item.pos-bl
  {
   left:-45%;
    @include transition(all 0.15s linear .01s);
  }
}
@media only screen and (max-width:640px){
  .slider-fix,
    .pos-bl
  {
    width: 70%
  }
  .left-menu-close .frame .slider-fix,
    .left-menu-close .frame .slider-fix .nav-item.pos-bl
  {
    left:-75%;
    @include transition(all 0.15s linear .01s);
  }
}


// Checkbox Css only
.chkbx {
  position:relative;
  display:inline-block;
  cursor:pointer;
  padding-left:60px;
  height:20px;
  line-height:36px;
  margin:5px 0;
}
.chkbx input {
  display: none;
}
.chkbx_in::after {
  content: '';
  position: absolute;
  top: 10px;
  left: 0;
  height: 20px;
  width: 20px;
  background-color:#d5d5d5;
  border-radius:50%;
  -webkit-transition:all .3s ease;
  transition:all .3s ease;
  -webkit-animation-name:pulsein;
  animation-name:pulsein;
  -webkit-animation-duration:.3s;
  animation-duration:.3s;
}
.chkbx_in::before
{
  content: '';
  position: absolute;
  top: 16px;
  left: 0;
  width: 50px;
  height: 6px;
  background-color: #d5d5d5;
  border-radius: 10px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
input:checked + .chkbx_in::after
{
  background-color:$secondary-color;
  -webkit-transform:translateX(35px);
  transform:translateX(35px);
  -webkit-animation-name:pulseout;
  animation-name:pulseout;
  -webkit-animation-duration:.3s;
  animation-duration:.3s;
}
input:checked + .chkbx_in::before
{
  background-color:$secondary-color;
}
input:disabled + .chkbx_in::after, input:disabled + .chkbx_in::before
{
  background-color: #e5e5e5;
}
@-webkit-keyframes pulsein {
  0%, 100% { top: 10px; height: 20px; width: 20px; }
  50% { top: 12px; height: 14px; width: 26px; }
}
@keyframes pulsein {
  0%, 100% { top: 10px; height: 20px; width: 20px; }
  50% { top: 12px; height: 14px; width: 26px; }
}
@-webkit-keyframes pulseout {
  0%, 100% { top: 10px; height: 20px; width: 20px; }
  50% { top: 12px; height: 14px; width: 26px; }
}
@keyframes pulseout {
  0%, 100% { top: 10px; height: 20px; width: 20px; }
  50% { top: 12px; height: 14px; width: 26px; }
}







//font-sizes
  @media only screen and (max-width: 628px) and (min-width: 572px) 
  {
    .fs-sm{
      font-size:0.7rem;
    }
  }





// material forms
/*
fieldset.form-group {
  position:relative;
  border:none;  
}
label.col-form-label {
  position:absolute;  
  top:18px;
  left:0;
  color:rgba(0, 0, 0, 0.3);
  transform-origin:left;
  @include transition(all 0.15s linear .01s);
}
input.form-control:focus ~ label.col-form-label {
  color:$primary-color;  
}
input.form-control:focus ~ label.col-form-label ,
input.form-control:valid ~ label.col-form-label  {
  top: 0;
  transform: scale(0.6, 0.6);
}
input.form-control {
  font-size: 16px;  
  width: 100%;
  border: none;  
  margin-top: 15px;
  background: transparent;
}
input.form-control:focus {
  outline: none;
  background: transparent;
}
.after {
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, $secondary-color 50%, transparent 50%);
  background-color: rgba(0, 0, 0, 0.3);
  background-size: 200% 100%;
  background-position: 100% 0;
  @include transition(all 0.15s linear .01s);
}
input.form-control:focus ~ .after {
  background-position: 0 0;
}
*/

// form-builder css
.form-build-design .bg-white, .form-build-design .bg-white label {
  position:relative;
  cursor:pointer;
  font-size:13px;
  color:$text-color-darkset3;
}.form-build-design .prim-hvr .col-sm-12.text-left {
  @include transition(all 1s linear .01s);
  display:none;
  opacity: 0.5;
}
.form-build-design .prim-hvr.active .col-sm-12.text-left {  
  @include transition(all 1s linear .01s);
  display:flex;
  opacity:1;
}.form-build-design .prim-hvr p.d-block{
  font-size: 12px;
}.form-build-design .bg-white label {
  text-indent:10px;
  line-height:38px;
}.form-build-design .bg-white.active label{
  @include transition(all 0.35s linear .01s);
  color: $text-color-darkset3-hover;
  font-size: 14px;
}.nmbr{
  position:absolute;
  left:-4%;
  bottom:0;
  text-indent:0;
  text-align:center;
  top:6px;
  height:26px;
  line-height:26px;
  width:30px;
  border:$brd-ddd;
  background:#f0f0f0;
  text-shadow:1px 1px 0px $body-bg-white;
  box-shadow:1px 1px 1px 0px $body-bg-white inset;//$bx-shdw-lmtd
  font-size:13px;
}
// important classes
//body background classes

.bg-white{
  background:$body-bg-white;
}.bg-trans{
  background:$body-bg-trans;
}


//ng2-toastr css
.toast-top-center {
    top:5px;
    position:fixed;
    width:auto;
    margin:0 auto;
    left:0;
    right:0;
    display:inline;
}
#toast-container > .toast {
    width:360px !important;
    background: transparent !important;
    box-shadow: none;
    //width:100% !important;
    height:20px;
    padding:0 !important;
    line-height:20px;
    text-align:center;
    z-index:99;
    //box-shadow:0 10px 10px -5px #ccc !important;
    border-radius:0 !important;
    background-image:none !important;
    color: $text-color-on-dark-bg;
}/*
.toast-success {
  background:$toast-succ;
}
.toast-error {
  background:$toast-err;
}
.toast-warning {
  background:$toast-war;
  color:$text-color-darkset3;
 .toast-close-button {
    color:$text-color-darkset3;
  }
}*/
.toast-close-button {
  right:10px;
  top:-1px;
  display:none;
}




// Radio CSS Current
.custom-controls-stacked .custom-control + .custom-control {
  margin-left:0;
}.custom-controls-stacked .custom-control {
  display:-webkit-inline-box;
  display:inline-flex;
  margin-bottom:0;
}input[type=checkbox], input[type=radio] {
  box-sizing:border-box;
  padding:0;
}[role=button], a, area, button, input:not([type=range]), label, select, summary, textarea {
  -ms-touch-action:manipulation;
  touch-action:manipulation;
}.custom-control-input {
  position:absolute;
  z-index:-1;
  opacity:0;
}.custom-control-input:checked ~ .custom-control-indicator, .custom-control-input:active:not(:disabled) ~ .custom-control-indicator {
  background-image:none !important;
  background-color:$body-bg-white;
}.custom-control-input:checked~.custom-control-indicator {
  color:$rgba-white;
}.custom-radio .custom-control-indicator {
  border-radius:50%;
}.custom-control-indicator {
  border:1px solid #ccc;//$brdr-light
  position:static;
  background-color:$body-bg-white;
}.custom-control-description {
  padding-left:8px;
  -webkit-box-flex:1;
  flex-grow:1
}.custom-control-input:checked ~ .custom-control-indicator::before, .custom-control-input:checked ~ .custom-control-indicator::after {
  -webkit-transform:scale(1);
  transform:scale(1);
}.custom-radio .custom-control-indicator::after {
  border-radius:50%;
  vertical-align:top;
  margin-top:1px;
  margin-left:0px !important;
  display:inline-block;
  width:14px;
  height:14px;
  background-color:$secondary-color-border;
}
.custom-control-lg .custom-control-indicator {
  width:18px;
  height:18px;
  line-height:18px;
}
.custom-control-indicator::after {
  content:'';
  display:inline-block;
  -webkit-transform:scale(0);
  transform:scale(0);
  -webkit-transition:-webkit-transform .3s;
  transition:-webkit-transform .3s;
  transition:transform .3s;
  transition:transform .3s, -webkit-transform .3s;
}.custom-control-input:focus ~ .custom-control-indicator {
  box-shadow:none;
}label.custom-control{
  cursor:pointer !important;
  line-height:initial !important;
  text-indent:initial !important;
}




// checkbox css current
.custom-control {
  position:relative;
  display:-ms-inline-flexbox;
  display:inline-flex;
  min-height:1.5rem;
  padding-left:1.5rem;
  margin-right:1rem;
}
.custom-control {
  color:#4d5259;
  font-weight:300;
  letter-spacing:0;
  margin-bottom:0;
  outline:none !important;
  display:-webkit-inline-box;
  display:inline-flex;
  -webkit-box-align:center;
  align-items:center;
  padding-left:0;
  font-size:12px;
}
.custom-checkbox {
  cursor:pointer;
}
.custom-controls-stacked .custom-control {
  display:-webkit-inline-box;
  display:inline-flex;
  margin-bottom:6px;
}
.custom-controls-stacked .custom-control+.custom-control {
  margin-left:0;
}
input[type=checkbox]/*, input[type=radio]*/{
  box-sizing:border-box;
  padding:0;
}
input:not([type=range]) {
  touch-action:manipulation;
  -ms-touch-action:manipulation;
}
.custom-control-input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.custom-control-input:checked ~ .custom-control-indicator{
  background-color: #fcfdfe;
}
.custom-control-input:checked~.custom-control-indicator {
  color:$body-bg-white;
}
.custom-control-lg .custom-control-indicator {
  width: 18px;
  height: 18px;
  line-height: 18px;
}
.custom-checkbox .custom-control-indicator {
  border-radius: 0;
}
.custom-control-indicator {
  border:1px solid $brdr-light;//$brdr-light
  position:static;
  flex-shrink:0;
  -webkit-box-flex:0;
  flex-grow:0;
  text-align:center;
  background:$body-bg-white;
}
.custom-control-indicator {
  top:.25rem;
  left:0;
  display:block;
  pointer-events:none;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  background-repeat:no-repeat;
  background-position:center center;
  background-size:50% 50%;
  background-color:$body-bg-white;
}
.custom-checkbox .custom-control-indicator::after {
  content:"\2714";
  font-size:17px;
  font-weight:bold;
  top:0;
  left:0;
  bottom:0;
  width:100%;
  text-align:center;
  color:$secondary-color-border;
}
.custom-control-indicator::after {
  content:'';
  display:inline-block;
  -webkit-transform:scale(0);
  transform:scale(0);
  -webkit-transition:-webkit-transform .3s;
  transition:-webkit-transform .3s;
  transition:transform .3s;
  transition:transform .3s, -webkit-transform .3s
}
.custom-control-input:checked ~ .custom-control-indicator::before, .custom-control-input:checked ~ .custom-control-indicator::after {
  -webkit-transform:scale(1);
  transform:scale(1);
}
.custom-control-input:focus ~ .custom-control-indicator{
  -webkit-box-shadow:none;
  box-shadow:none;
}

// Response_Table_New
.tb, .tb thead, .tb tbody{
  display:inline-block !important;
  width:100% !important;
  max-width:100% !important;
  border:none !important;
  box-sizing:border-box;
}.tb thead, .tb tbody{
    border-bottom:1px solid $brdr-light-dark !important;//$brdr-light-dark
}.tb thead th, .tb tbody td{
  display:inline-block;
  width:33%;
  border:none !important;
  float:none;
  box-sizing:border-box;
  padding:0 !important;
  float:left;
  clear:none;
}.tb thead th.sr, .tb tbody td.sr{
    width:3%;
}.tb thead th.det, .tb tbody td.det{
    width:8%;
}.tb tr, .tb td{
    /*border:1px solid #ccc;*/
  @include transition(all 0.35s linear .01s);
  box-sizing:border-box;
  height:50px;
  overflow:hidden;
  display:block;
}.tb tr.active td div.out{
  @include transition(all 0.35s linear .01s);
  padding-top:10px;
  padding-bottom:10px;
}.tb tr.active td{
  @include transition(all 0.35s linear .01s);
  height:190px;
  //height:auto; 
}.tb tr.active{
  @include transition(all 0.35s linear .01s);
  height:auto;
}.tb tr.active td div.out, .tb tr td div.out{
  @include transition(all 0.35s linear .01s);
  height:100%;
}.tb tr.active td.blw div.out{
  padding-top:10px;
  padding-bottom:10px; 
}
.tb tr td.blwlft{
  width:34%;
  border-left:$brd-ddd !important;
}
.tb tr td.blwrght{
  width:33%;
}
.tb .carousel-item img{
  max-width:44%;
  max-height:40%;
  min-width:44%;
  min-height:40%;
  margin:0.5%;
  float:left;
}
.tb tr.active{
  @include transition(all 0.35s linear .01s);
  box-shadow:0px 0px 10px 0px $bx-shdw-tr;//$bx-shdw-tr
  background:$body-bg-default;
}.assessor{
  position:relative;
  -webkit-user-select:text;
  -moz-user-select:text;
  -o-user-select:text;
  -ms-user-select:text;
  user-select:text;
  -webkit-user-drag:auto;
  width:23% !important;
  /*-webkit-user-modify:read-write;*/
}.tb tr td p{
  //line-height:16px;
  font-size:13px;
  //line-height:22px
}
/*.assessor p.s {
    transition:all 0.8s ease-in 0.1s;
    display:none;
    opacity:0;
}.tb tr.active td.assessor p.s {
    -webkit-transition:all 0.8s ease-in 0.1s;
    -moz-transition:all 0.8s ease-in 0.1s;
    -ms-transition:all 0.8s ease-in 0.1s;
    -o-transition:all 0.8s ease-in 0.1s;
    transition:all 0.8s ease-in 0.1s;
    display:block;
    opacity:1;
}*/.tb tr:hover, .tb tr.active{
    cursor:pointer;
    background:#f7f7f7;
    //z-index: 9;
    //box-shadow:0px 0px 10px -10px #ccc;
}.tb thead tr:hover{
    background:inherit;
}.tb thead, .tb thead tr, .tb thead:hover{
    height:30px;
    background:#eaeaea;
}
/* .tb thead th{
    color: #000;
} .tb tbody td{
    color: #000;
}*/

.tm{
  display:inline-block !important;
  width:100% !important;
  max-width:100% !important;
  border:none !important;
  box-sizing:border-box;
  thead{
    //display:inline-block !important;
    //width:100% !important;
    //max-width:100% !important;
    border:none !important;
    box-sizing:border-box;
    border-bottom:1px solid $brdr-light-dark !important;//$brdr-light-dark
    tr{
      height:100%;
      th{
        display:inline-block;
        border:none !important;
        float:none;
        box-sizing:border-box;
        padding:0 !important;
        float:left;
        clear:none;
      }th.sr{
        width:3%;
      }th.info{
        width:50%;
      }th.main{
        width:47%;
      }
    }
  }/* thead closes */

  tbody{
    //display:inline-block !important;
    //width:100% !important;
    //max-width:100% !important;
    border:none !important;
    box-sizing:border-box;
    tr{
      @include transition(all 0.35s linear .01s);
      height:100%;
      background-color:$body-bg-white;
      clear:both;
      float:left;
      td{
        //display:inline-block;
        border:none !important;
        float:none;
        box-sizing:border-box;
        padding:0 !important;
        float:left;
        clear:none;
        overflow:hidden;
        .out {
          @include transition(all 0.35s linear .01s);
          border-bottom:$brd-ddd;
          border-right:$brd-ddd;
          height:100%;
          box-sizing:border-box;
          overflow:hidden;
          //border-bottom:$brd-ddd;
        }table {
          height:100%;
          tr {
            td{
              height:100%;
            }
          }
        }
      }td.sr{
        @include transition(all 0.35s linear .01s);
        width:3%;
        height:52px;
      }td.info{
        @include transition(all 0.35s linear .01s);
        width:50%;
        height:52px;
        tr{
          @include transition(all 0.35s linear .01s);
          height:85%;
          td.details{
            //@include transition(all 0.35s linear .01s);
            height:60px; 
            border-right:$brd-ddd !important;
          } td.innrInfo{
            //@include transition(all 0.35s linear .01s);
            //height:30px;
          }
        }
        tr.up{
          @include transition(all 0.35s linear .01s);
          //height:75%;
        }tr.below{
          @include transition(all 0.35s linear .01s);
          //height:25%;
          //border-top:$brd-ddd;
        }
      }td.main{
        @include transition(all 0.35s linear .01s);
        width:47%;
        height:52px;
      }
    }//hover states
    tr:hover{
      cursor:pointer;
      background:transparent !important;
    }
    //active states
    tr.active{
      @include transition(all 0.35s linear .01s);
      box-shadow: 0 0 10px 0 $mod-hd-bx-shdw;//$tm-bx-shdw-tr
      margin:3px 0;
        td{
          .out{
            @include transition(all 0.35s linear .01s);
            //padding-top:10px;
            //padding-bottom:10px;  
          }
        }
        td.sr{
          @include transition(all 0.35s linear .01s);
          height:350px;
        }td.info{
          @include transition(all 0.35s linear .01s);
          height:350px;
          tr{
            @include transition(all 0.35s linear .01s);
            height:100%;
            td.details{
              //@include transition(all 0.35s linear .01s);
              height:288px;
            } td.innrInfo{
              //@include transition(all 0.35s linear .01s);
              //height:100px;
            }
          }
          tr.up{
            @include transition(all 0.35s linear .01s);
            height:75%;
          }tr.below{
            @include transition(all 0.35s linear .01s);
            height:25%;
          }
        }td.main{
          @include transition(all 0.35s linear .01s);
          height:350px;
        }
    }
  }/* thead closes */
}
.ques{
  height:52px !important;
}
.questTR{
  height: 18% !important;
  margin:0
}.quesTD{
  height:100% !important;
}
img.north{
  transform-origin:50% 50%;
}.bogu{
  overflow:hidden;
  border:45px solid $body-bg-white;//$brdr-white
}
p{font-size:12.8px;}
.deaf
img{
  max-width:44px;
  max-height:44px;
  min-width:44px;
  min-height:44px;
  margin:7px;
  float:left;
}.dt-buttons {
  margin-left:10px;
  button{
    border:1px solid $secondary-color-border;
    background:$body-bg-white;
    color:$text-color-darkset3;
  }
}
.show.collapse{
  border-bottom:transparent;
}