<div class="col-sm-12 text-right pt-3 pl-0 pr-0"><!--pos-abso-tr-->
  <button type="button" class="btn btn-primary col-sm-3 col-md-2 pt-2 pb-2 float-right" (click)='team()'>+ Team</button>
  <input type="text" class="form-control col-sm-10 col-md-10 col-lg-10 float-right pt-2 pb-2" placeholder="Search Teams..." />
</div>
<div class="tab-pane active" role="tabpanel">
  <div class="container-fluid mt-0 pb-3 text-left p-0">
    <table *ngIf='flag' id="example2" class="table table-striped mt-0" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th class="header-1"></th>
          <th class="text-left">Name</th>
          <th class="text-left">Forms</th>
          <th class="text-left">Members</th>
          <th class="text-left">Manager</th>
          <th class="text-left">Details</th>
        </tr>
      </thead>
      <tbody class="bg-white">
        <tr *ngFor='let res of teams; let i = index'>
          <td class="text-center">{{i+1}}</td>
          <td>{{res.name}}</td>
          <td>
            <button type="button" class="btn btn-primary tt1 bg-trans pt-1" (click)='showFormModal(res.name, res.cid, res.form)' >{{calForms(res.form)}} Form/s<!-- <span class="tt2" > &nbsp; {{projectForm(res.form)}}  &nbsp; </span> --></button>
          </td>
          <td>
            <button type="button" class="btn btn-primary tt1 bg-trans pt-1" (click)='showAssesorModal(res.name, res.cid, res.assesor)' >{{calForms(res.assesor)}} Assesor/s</button>
          </td>
          <td>
            <button type="button" class="btn btn-primary tt1 bg-trans pt-1" (click)='showManagerModal(res.name, res.cid, res.tl)' >{{calForms(res.tl)}} Manager/s</button>
          </td>
          <td>
            <button type="button" class="btn btn-primary bg-trans pt-1">{{res.details}}</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Add Team model -->
  <div class="modal fade" id="newTeamModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="max-width:500px;">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add new team</h5>
        </div>
        <div class="modal-body text-center" style="height:250px;overflow-y:auto">
          <div class="row justify-content-center">
            <label class="row ml-0 mr-0 mb-3 col-sm-12">
              <span class="col-4 text-left pt-2 pl-0">Team Name :</span>
              <input type="text" name="" value="" [(ngModel)]='teamName' placeholder="Team Name" class="col-7 form-control pt-2 pb-2" />
            </label>
            <label class="row ml-0 mr-0 mb-3 col-sm-12">
              <span class="col-4 text-left pt-2 pl-0">Member Name :</span>
              <select [(ngModel)]="tl" class="col-7 form-control pt-2 pb-2" >
                <option *ngFor='let opt of asrArray; let i=i' [ngValue]=opt.cid>{{opt.name}}</option>
              </select>
            </label>
            <label class="row ml-0 mr-0 mb-3 col-sm-12">
              <span class="col-4 text-left pt-2 pl-0">Project Name :</span>
              <select [(ngModel)]="formAssociate" class="col-7 form-control pt-2 pb-2">
                <option *ngFor='let opt of formArray; let i=i' [ngValue]=opt.Details>{{opt.Details.name + " " + opt.Details.project}}</option>
              </select>
            </label>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary col-sm-3 pt-3 pb-3" data-toggle="modal" data-target="#addRules" (click)='saveTeam()'>Add Team</button>
          <button type="button" class="btn btn-secondary col-sm-3 pt-3 pb-3" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Add Team model -->

  <!-- assesor form model -->
  <div class="modal fade" id="showFormModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Associated form for {{teamName}}</h5>
        </div>
        <div class="modal-body text-center" style="height:300px; overflow-y: auto">
          <div class="row justify-content-center">
            <p>{{teamName}} is assigned with form/s:</p><br />
            <div  class="col-12" *ngFor="let pro of teamFormArray; let i = index">
              <p class="fa-6">{{i+1}}. {{pro.name+" "+pro.project}} <i class="fa fa-trash-o text-danger" aria-hidden="true" (click)='deleteFormTeamArray(pro.cid)' ></i><br />
              </p></div>
            <br /><br /><br />
            <div class="col-12">Assign new project : </div>
            <select [(ngModel)]="newForm" class="col-8 form-control mb-5" >
              <option *ngFor='let opt of formArray; let i=i' [ngValue]=opt  >{{opt.Details.name + " " + opt.Details.project}}</option>
            </select>
            <div  class="col-12"></div>
            <button type="button" class="btn btn-primary" data-toggle="modal"  (click)='assignNewFrom()'>Assign</button>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary col-sm-3 pt-3 pb-3" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!-- assesor form model -->

  <!-- Add Assesor model -->
  <div class="modal fade" id="showAssesorModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add new Assesor</h5>
        </div>
        <div class="modal-body text-center" style="height:300px; overflow-y: auto">
          <div class="row justify-content-center">{{teamName}} assesor/s :  <br />
            <div  class="col-12" *ngFor="let name of extAsrNameArray; let i=index">{{i+1}} . {{name.name}} <i class="fa fa-trash-o" aria-hidden="true" (click)='deleteAsrTeamArray(name.cid)' ></i> <br /> </div>
            <br />
            <br />
            <br />
            <select [(ngModel)]="tl" class="col-8 form-control mb-5" >
              <option *ngFor='let opt of asrArray; let i=i' [ngValue]=opt.cid>{{opt.name}}</option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary col-sm-3 pt-3 pb-3" data-toggle="modal" data-target="#addRules" (click)='addNewAssesor()'>Add assesor</button>
          <button type="button" class="btn btn-secondary col-sm-3 pt-3 pb-3" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Add Assesor model -->

  <!-- Add Manager model -->
  <div class="modal fade" id="showManagerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add new Manager</h5>
        </div>
        <div class="modal-body text-center" style="height:300px; overflow-y: auto">
            <div class="row justify-content-center" >
              <!--<input type="text" name="" value="" [(ngModel)]='teamName' placeholder="Team Name" class="col-8 form-control mb-5" disabled />
              <div style="height:130px;width:80%;border:2px solid gray;border-radius:3px;overflow:auto;margin-bottom:20px">
                <b *ngFor="let name of extMgrNameArray; let i=index" style="float:left"> {{i+1}} . {{name}} </b> <br />
              </div>-->
              {{teamName}} Manager/s :  <br />
              <div  class="col-12" *ngFor="let name of extMgrNameArray; let i=index">{{i+1}} . {{name.name}} <i class="fa fa-trash-o" aria-hidden="true" (click)='deleteMgrTeamArray(name.cid)' ></i> <br /> </div>
              <br />
              <br />
              <br />
              <select [(ngModel)]="tl" class="col-8 form-control mb-5" >
                <option *ngFor='let opt of asrArray; let i=i' [ngValue]=opt.cid>{{opt.name}}</option>
              </select>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary col-sm-3 pt-3 pb-3" data-toggle="modal" data-target="#addRules" (click)='addNewManager()'>Add Manager</button>
          <button type="button" class="btn btn-secondary col-sm-3 pt-3 pb-3" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Add Manager model -->
</div>